.select {
    width: 100%;
    height: 50px;
    /* background: #ffffff17; */
    background: #2c2c2c17;
    border: none;
    outline: none;
    color: #919191;
    border-radius: 5px;
    padding: 8px;
    margin-top: 4px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../../../assets/icon/down-arrow.svg');
    /* background-color: white; */
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 10px;
    box-shadow: none;
    text-indent: 1px;
    text-overflow: '';
    filter: brightness(0) invert(1);
    /* filter: brightness(0) invert(1);
  opacity: 1 !important; */
}

.option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    color: #919191;
}