<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
    <style type="text/css">
        span.cls_052 {
            font-family: Times, serif;
            font-size: 12.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_052 {
            font-family: Times, serif;
            font-size: 12.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_053 {
            font-family: Times, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_053 {
            font-family: Times, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_006 {
            font-family: Times, serif;
            font-size: 13.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_006 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_054 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_054 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_008 {
            font-family: Times, serif;
            font-size: 14.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        .spanBox {
            font-size: 10px;
            text-align: center;
            display: inline-block;
            border: 1px solid black;
            vertical-align: middle;
            line-height: 17px;
            width: 32px;
            height: 17px;
            margin-top: 0px;
            margin-left: -3px;
            overflow: hidden;
        }
        
        .spanBox1 {
            font-size: 10px;
            text-align: center;
            display: inline-block;
            border: 1px solid black;
            vertical-align: middle;
            line-height: 17px;
            width: 26px;
            height: 14px;
            margin-top: 0px;
            margin-left: -3px;
            overflow: hidden;
        }
        
        .spanBox2 {
            font-size: 10px;
            text-align: center;
            display: inline-block;
            border: 1px solid black;
            vertical-align: middle;
            line-height: 17px;
            width: 13px;
            height: 9px;
            margin-top: 0px;
            margin-left: -3px;
            overflow: hidden;
        }
        
        div.cls_008 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_010 {
            font-family: Times, serif;
            font-size: 13px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_010 {
            font-family: Times, serif;
            font-size: 9.8px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_011 {
            font-family: Arial, serif;
            font-size: 9.9px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_011 {
            font-family: Arial, serif;
            font-size: 9.9px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_012 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(27, 26, 16);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_012 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(27, 26, 16);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_055 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_055 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_017 {
            font-family: Times, serif;
            font-size: 13px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_017 {
            font-family: Times, serif;
            font-size: 9.7px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_003 {
            font-family: Times, serif;
            font-size: 12.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_003 {
            font-family: Times, serif;
            font-size: 12.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_056 {
            font-family: Times, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_056 {
            font-family: Times, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_030 {
            font-family: Times, serif;
            font-size: 9.4px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_030 {
            font-family: Times, serif;
            font-size: 9.4px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_031 {
            font-family: Arial, serif;
            font-size: 9.4px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_031 {
            font-family: Arial, serif;
            font-size: 9.4px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_032 {
            font-family: Times, serif;
            font-size: 9.7px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_032 {
            font-family: Times, serif;
            font-size: 9.7px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_057 {
            font-family: Arial, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_057 {
            font-family: Arial, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_035 {
            font-family: "Calibri", serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_035 {
            font-family: "Calibri", serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_036 {
            font-family: "Calibri Bold", serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_036 {
            font-family: "Calibri Bold", serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_058 {
            font-family: "Calibri Bold", serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_058 {
            font-family: "Calibri Bold", serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_038 {
            font-family: "Calibri Bold", serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_038 {
            font-family: "Calibri Bold", serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_040 {
            font-family: "Calibri Bold Italic", serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }
        
        div.cls_040 {
            font-family: "Calibri Bold Italic", serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }
        
        span.cls_041 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_041 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_042 {
            font-family: "Calibri", serif;
            font-size: 10.6px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_042 {
            font-family: "Calibri", serif;
            font-size: 10.6px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_043 {
            font-family: "Calibri Bold", serif;
            font-size: 10.6px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_043 {
            font-family: "Calibri Bold", serif;
            font-size: 10.6px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_059 {
            font-family: Times, serif;
            font-size: 20.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_059 {
            font-family: Times, serif;
            font-size: 20.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_060 {
            font-family: Times, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }
        
        div.cls_060 {
            font-family: Times, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_051 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_051 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        span.cls_034 {
            font-family: Times, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        div.cls_034 {
            font-family: Times, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        
        .spanLine {
            font-size: 12.5px;
            display: inline-block;
            border-bottom: 1px solid black;
            vertical-align: middle;
            line-height: 2px;
            width: 10px;
            height: 8px;
            margin-top: 0px;
            margin-left: -4.35px;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript" src="md_india_real/wz_jsgraphics.js"></script>
</head>

<body>
    <button id="download" onclick="plzDown()"> Download Form</button>
    <div id="invoice" style="height: 6580px;">

        <div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:1002px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
                <img src="../static/dist/img/md_india.png" style="margin-top: 30px;margin-left:5px;" width=70px; height=50px; />
            </div>
            <div style="position:absolute;left:97.08px;top:37.81px" class="cls_052"><span class="cls_052">REQUEST
                                        FOR
                                        CASHLESS HOSPITALISATION FOR HEALTH INSURANCE</span></div>
            <div style="position:absolute;left:216.12px;top:55.45px" class="cls_053"><span class="cls_053">POLICY
                                        PART - C
                                        (Revised)</span></div>
            <div style="position:absolute;left:388.44px;top:80.09px" class="cls_006"><span class="cls_006">(TO BE
                                        FILLED IN
                                        BLOCK LETTERS)</span></div>
            <div style="position:absolute;left:110.04px;top:101.57px" class="cls_054"><span class="cls_054">DETAILS
                                        OF THE
                                        THIRD PARTY ADMINISTRATOR/ INSURER/ HOSPITAL:</span></div>
            <div style="position:absolute;left:264.12px;top:121.61px" class="cls_008"><span class="cls_008" style="font-size:10px;">MDIndia
                                        Health
                                        Insurance TPA Pvt. Ltd. (IRDA LICENCENO. 005)</span></div>
            <div style="position:absolute;left:29.28px;top:125.33px" class="cls_010"><span class="cls_010">a.</span><span class="cls_011"> </span><span class="cls_006">
                                        Name of
                                        TPA/ lnsurance company:</span></div>
            <div style="position:absolute;left:265.56px;top:138.53px" class="cls_012">
                {{bunny.patient_details.Insurance_Company|upper}}<span class="cls_012">1800-233-4505</span>
            </div>
            <div style="position:absolute;left:29.28px;top:142.85px" class="cls_010"><span class="cls_010">b.</span><span class="cls_011"> </span><span class="cls_006">
                                        Toll free
                                        phone number:</span></div>
            <div style="position:absolute;left:265.56px;top:155.93px" class="cls_012"><span class="cls_012">1800-233-4449</span></div>
            <div style="position:absolute;left:29.28px;top:161.29px" class="cls_010"><span class="cls_010">c.</span>
            </div>
            <div style="position:absolute;left:48.72px;top:161.21px" class="cls_006"><span class="cls_006">Toll free
                                        fax:</span></div>

            <div style="position:absolute;left:29.28px;top:179.29px" class="cls_010"><span class="cls_010">d.</span>
            </div>
            <div style="position:absolute;left:51.96px;top:179.21px" class="cls_006"><span class="cls_006">Name of
                                        Hospital:</span></div>

            <div style="position:absolute;left:251.96px;top:179.21px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{hospitaldata.name|upper}}</span></div>


            <div style="position:absolute;left:100.44px;top:203.45px" class="cls_010"><span class="cls_010">i.</span><span class="cls_011"> </span><span class="cls_006">Address</span></div>

            <div style="position:absolute;left:251.96px;top:203.45px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007"> {{hospitaldata.address|upper}} </span>
            </div>

            <div style="position:absolute;left:97.92px;top:221.81px" class="cls_010"><span class="cls_010">ii.</span><span class="cls_011"> </span><span class="cls_006">Rohini
                                        ID</span></div>
            <div style="position:absolute;left:251.96px;top:221.81px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007"> {{hospitaldata.rohini|upper}} </span>
            </div>


            <div style="position:absolute;left:97.92px;top:239.69px" class="cls_010"><span class="cls_010">iii.</span><span class="cls_011"> </span><span class="cls_006">e-mail
                                        id</span></div>

            <div style="position:absolute;left:251.96px;top: 239.69px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007"> {{hospitaldata.email|upper}} </span>
            </div>



            <div style="position:absolute;left:206.40px;top:273.53px" class="cls_053"><span class="cls_053">TO BE
                                        FILLED BY
                                        INSURED/PATIENT</span></div>
            <div style="position:absolute;left:30.12px;top:309.41px" class="cls_010"><span class="cls_010">A.</span><span class="cls_011"> </span><span class="cls_006">Name of the
                                        Patient</span></div>

            <div style="position:absolute; left:250px; top:309.41px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Name|upper}}</span>
            </div>


            <div style="position:absolute;left:30.12px;top:328.97px" class="cls_010"><span class="cls_010">B.</span><span class="cls_011"> </span><span class="cls_006">Gender:</span></div>
            {% if bunny.patient_details.Gender == 'male' %}
            <div style="position:absolute;left:200.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"><img height="13px" src="/static/dist/tick.png"
                                                width="20px"></span>
            </div>
            <div style="position:absolute;left:242.76px;top:328.97px" class="cls_006"><span class="cls_006">Male</span>
            </div>
            <div style="position:absolute;left:283.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:320.88px;top:328.97px" class="cls_006"><span class="cls_006">Female</span>
            </div>
            <div style="position:absolute;left:363.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:399.64px;top:328.97px" class="cls_006"><span class="cls_006">Third
                                        Gender</span></div>
            {% elif bunny.patient_details.Gender == 'female' %}
            <div style="position:absolute;left:200.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:242.76px;top:328.97px" class="cls_006"><span class="cls_006">Male</span>
            </div>
            <div style="position:absolute;left:283.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"><img height="13px" src="/static/dist/tick.png"
                                                width="20px"></span>
            </div>
            <div style="position:absolute;left:320.88px;top:328.97px" class="cls_006"><span class="cls_006">Female</span>
            </div>
            <div style="position:absolute;left:363.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:399.64px;top:328.97px" class="cls_006"><span class="cls_006">Third
                                        Gender</span></div>
            {% else %}
            <div style="position:absolute;left:200.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:242.76px;top:328.97px" class="cls_006"><span class="cls_006">Male</span>
            </div>
            <div style="position:absolute;left:283.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:320.88px;top:328.97px" class="cls_006"><span class="cls_006">Female</span>
            </div>
            <div style="position:absolute;left:363.76px;top:325.97px" class="cls_006 spanBox"><span class="cls_006">
                                        <img height="13px" src="/static/dist/tick.png" width="20px"> </span>
            </div>
            <div style="position:absolute;left:399.64px;top:328.97px" class="cls_006"><span class="cls_006">Third
                                        Gender</span></div>
            {% endif %}


            <div style="position:absolute;left:30.12px;top:349.53px" class="cls_010"><span class="cls_010">C.</span><span class="cls_011"> </span><span class="cls_006">Age:</span>
            </div>

            <div style="position:absolute;left:280px;top:349.53px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.AgeYear.0|upper}}{{bunny.patient_details.AgeYear.1|upper}}/{{bunny.patient_details.AgeMonth.0|upper}}{{bunny.patient_details.AgeMonth.1|upper}}</span>
            </div>

            <div style="position:absolute;left:449.0px;top: 345.53px" class="cls_006"><span class="cls_006">(Years)
                                        /
                                        (Month)</span></div>
            <div style="position:absolute;left:30.12px;top:376.21px" class="cls_010"><span class="cls_010">D.</span><span class="cls_011"> </span><span class="cls_006">Date of
                                        Birth:</span></div>

            <div style="position:absolute;left:280px;top:375.21px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.DOB.8|upper}}{{bunny.patient_details.DOB.9|upper}}/{{bunny.patient_details.DOB.5|upper}}{{bunny.patient_details.DOB.6|upper}}/{{bunny.patient_details.DOB.0|upper}}{{bunny.patient_details.DOB.1|upper}}{{bunny.patient_details.DOB.2|upper}}{{bunny.patient_details.DOB.3|upper}}</span>
            </div>


            <div style="position:absolute;left:466.0px;top:370.01px" class="cls_055"><span class="cls_055">DD/MM/YYYY</span></div>
            <div style="position:absolute;left:30.12px;top:399.33px" class="cls_010"><span class="cls_010">E.</span><span class="cls_011"> </span><span class="cls_006">Contact
                                        number:</span></div>

            <div style="position:absolute;left:280px;top:399.33px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Phone|upper}}</span>
            </div>



            <div style="position:absolute;left:30.12px;top:425.73px" class="cls_010"><span class="cls_010">F.</span><span class="cls_011"> </span><span class="cls_006">Contact
                                        number of attending Relative:</span></div>


            <div style="position:absolute;left:280px;top:425.73px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Attending_Relative_Number|upper}}</span>
            </div>




            <div style="position:absolute;left:30.12px;top:460.73px" class="cls_010"><span class="cls_010">G.</span><span class="cls_011"> </span><span class="cls_006">lnsured
                                        Card ID number:</span></div>


            <div style="position:absolute;left:280px;top:460.73px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Health_Id|upper}}</span></div>


            <div style="position:absolute;left:30.12px;top:500px" class="cls_010"><span class="cls_010">H.</span><span class="cls_011"> </span><span class="cls_006">Policy
                                        number/Name of Corporate:</span></div>

            <div style="position:absolute;left:280px;top:500px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Policy_Id|upper}}</span>
            </div>

            <div style="position:absolute;left:30.12px;top:540px" class="cls_010"><span class="cls_010">I.</span><span class="cls_011"> </span><span class="cls_006">Employee
                                        ID:</span></div>

            <div style="position:absolute;left:250px;top:540px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.EmployeeId|upper}}</span>
            </div>


            <div style="position:absolute;left:30.12px;top:570px" class="cls_010"><span class="cls_010">J.</span><span class="cls_011"> </span><span class="cls_006">Currently
                                        do you have any other mediclaim /health
                                        insurance:</span> {% if bunny.patient_details.patient_details_HealthInsurance == 'yes' %}
                <span class="spanBox " style="margin-left: 100px;"><img height="13px" src="/static/dist/tick.png" width="20px"></span>
                <span class="cls_006">Yes</span>
                <span class="spanBox"></span>
                <span class="cls_006">No</span> {% else %}
                <span class="spanBox " style="margin-left: 50px;"></span>
                <span class="cls_006">Yes</span>
                <span class="spanBox"><img height="13px" src="/static/dist/tick.png" width="20px"></span>
                <span class="cls_006">No</span> {% endif %}
            </div>


            <div style="position:absolute;left:67.80px;top:620px" class="cls_010"><span class="cls_010">i.</span><span class="cls_006">Company Name</span></div>

            <div style="position:absolute;left:250px;top:620px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.patient_details.HealthInsuranceYesCompanyName|upper}}</span></div>



            <div style="position:absolute;left:67.80px;top:660px" class="cls_017"><span class="cls_017">ii.Give
                                </span><span class="cls_006">Details:</span></div>

            <div style="position:absolute;left:250px;top:660px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.patient_details.Give_Company_details|upper}}</span></div>

            <div style="position:absolute;left:30.12px;top:710px" class="cls_006"><span class="cls_006">K: Do you
                                        have a
                                        family Physician:</span></div>


            {% if bunny.patient_details.PhysicianYesPhysicianName|upper != '' %}
            <div style="position:absolute;left:300.76px;top:700px" class="cls_006 spanBox"><span class="cls_006"><img height="13px" src="/static/dist/tick.png"
                                                width="20px"></span>
            </div>
            {% else %}
            <div style="position:absolute;left:300.76px;top:700px" class="cls_006 spanBox"><span class="cls_006"></span>
            </div>
            {% endif %}
            <div style="position:absolute;left:337.32px;top:700px" class="cls_017"><span class="cls_017">Yes</span></div>

            {% if bunny.patient_details.patient_details_HealthInsurance == '' %}
            <div style="position:absolute;left:260.76px;top:700px" class="cls_006 spanBox"><span class="cls_006"><img height="13px" src="/static/dist/tick.png"
                                                width="20px"></span>
            </div>
            {% else %}
            <div style="position:absolute;left:380.76px;top:700px" class="cls_006 spanBox"><span class="cls_006">
                        </div>
                        {% endif %}

                        <div style="position:absolute;left:415.44px;top:700px" class="cls_006"><span
                                        class="cls_006">No</span></div>

            <div style="position:absolute;left:30.12px;top:750px" class="cls_006"><span class="cls_006">L: Name
                                        of the
                                        Family Physician:</span></div>

            <div style="position:absolute;left:250px;top:750px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.PhysicianYesPhysicianName|upper}} </span></div>



            <div style="position:absolute;left:30.12px;top:790px" class="cls_017"><span class="cls_017">M:
                                </span><span class="cls_006">Contact number, if any:</span></div>

            <div style="position:absolute;left:250px;top:790px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.PhysicianYesPhysicianContactNum}}</span>
            </div>



            <div style="position:absolute;left:29.28px;top:830px" class="cls_006"><span class="cls_006">N:
                                        Current
                                        Address of lnsured patient:</span></div>

            <div style="position:absolute;left:250px;top:830px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.Address|upper}} {{bunny.patient_details.city|upper}}</span>
            </div>

            <div style="position:absolute;left:30.12px;top:870px" class="cls_017"><span class="cls_017">O:
                                </span><span class="cls_006">Occupation of Insured patient:</span></div>

            <div style="position:absolute;left:250px;top:870px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Occupation|upper}}</span></div>


            <div style="position:absolute;left:328.92px;top:930px" class="cls_006"><span class="cls_006" style="font-size:10px">(PLEASE
                                        COMPLETE
                                        DECLARATION OF THIS FORM)</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-306px;top:1100px;width:612px;height:950px;border-style:outset;overflow:hidden">

            <div style="position:absolute;left:161.40px;top:29.29px" class="cls_003"><span class="cls_003">TO BE
                                        FILLED BY
                                        TREATING DOCTOR/HOSPITAL</span></div>

            <div style="position:absolute;left:28.44px;top:73.09px" class="cls_006"><span class="cls_006">A:
                                        Name of
                                        the
                                        treating Doctor:</span></div>

            <div style="position:absolute;left:250px;top:73.09px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.hospital_details.Treating_Doctor_Name|upper}}</span></div>

            <div style="position:absolute;left:28.44px;top:90.61px" class="cls_006"><span class="cls_006">B:
                                        Contact
                                        number:</span></div>

            <div style="position:absolute;left:250px;top:90.61px;text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                {{hospitaldata.phone|upper}}</span></div>


            <div style="position:absolute;left:28.44px;top:108.97px" class="cls_006"><span class="cls_006">C: Nature
                                        of
                                        illness/Disease with presenting complaint</span></div>

            <div style="position:absolute; left:322.96px; top:108.97px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.Nature_Of_Illness|upper}}</span></div>


            <div style="position:absolute;left:28.44px;top:127.09px" class="cls_006"><span class="cls_006">D:
                                        Relevant
                                        Critical Findings:</span></div>

            <div style="position:absolute; left: 250px; top:127.09px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Relevant_Critical_Findings|upper}}</span>
            </div>



            <div style="position:absolute;left:28.44px;top:144.49px" class="cls_006"><span class="cls_006">E:
                                        Duration of
                                        the present ailment</span></div>

            <div style="position:absolute; left:250px; top:144.49px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.Duration_Of_Present_Ailments|upper}}</span></div>


            <div style="position:absolute;    left: 419.48px;top:140.53px" class="cls_006"><span class="cls_006">Days</span>
            </div>
            <div style="position:absolute;left:55.68px;top:167.17px" class="cls_006"><span class="cls_006">i. Date
                                        of First
                                        consultation</span></div>

            <div style="position:absolute; left:250px; top:167.97px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Date_Of_First_Consultation.8|upper}}{{bunny.patient_details.Date_Of_First_Consultation.9|upper}}/{{bunny.patient_details.Date_Of_First_Consultation.5|upper}}{{bunny.patient_details.Date_Of_First_Consultation.6|upper}}/{{bunny.patient_details.Date_Of_First_Consultation.0|upper}}{{bunny.patient_details.Date_Of_First_Consultation.1|upper}}{{bunny.patient_details.Date_Of_First_Consultation.2|upper}}{{bunny.patient_details.Date_Of_First_Consultation.3|upper}}</span>
            </div>


            <div style="position:absolute;left: 435.04px;top: 162.17px;" class="cls_006"><span class="cls_006">DD/MM/YYYY</span></div>
            <div style="position:absolute;left:55.56px;top:186.85px" class="cls_006"><span class="cls_006">ll. Past
                                        history
                                        of present ailment, if any</span></div>

            <div style="position:absolute; left:271.96px; top:186.97px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.Past_History_Of_Present_Ailments|upper}}</span></div>



            <div style="position:absolute;left:28.44px;top:209.89px" class="cls_006"><span class="cls_006">F:
                                        Provisional
                                        diagnosis:</span></div>


            <div style="position:absolute;left:200.44px;top:209.89px;font-size: 12px;font-weight: bold; " class="cls_006"><span class="cls_006">
                                </span> {{bunny.patient_details.Provision_Diagnosis|upper}} </div>
            <div style="position:absolute;left:55.68px;top:228.13px;" class="cls_006"><span class="cls_006">i. ICD l0
                                        code</span></div>

            <div style="position:absolute; left:210.96px; top:228.13px;  width:50%;" class="cls_007"><span class="cls_006" style="font-weight:bold;">{{bunny.patient_details.ICD_Code|upper}}</span>
            </div>

            <div style="position:absolute;left:28.44px;top:245.65px" class="cls_006"><span class="cls_006">G:
                                        Proposed line
                                        of treatment:</span></div>
            <div style="position:absolute;left:55.68px;top:268.69px" class="cls_010"><span class="cls_010">i.</span><span class="cls_011"> </span><span class="cls_006">Medical
                                        Management</span></div>

            {% if bunny.patient_details.doctor_proposedLineOfTreatment_Medical_Managment == "yes" %}
            <div style="position:absolute;left:284.40px;top:269.03px" class="cls_017"><span class="cls_017">( <img height="13px" src="/static/dist/tick.png" width="20px">
                                </span>
            </div>

            <div style="position:absolute;left:312.84px;top:268.69px" class="cls_006"><span class="cls_006">)</span>
            </div>
            {% else %}
            <span>
                                <div style="position:absolute;left:284.40px;top:269.03px" class="cls_017"><span
                                                class="cls_017">(</span>
        </div>

        <div style="position:absolute;left:312.84px;top:268.69px" class="cls_006"><span class="cls_006">)</span>
        </div>

        </span>
        {% endif %}






        <div style="position:absolute;left:55.68px;top:286.09px" class="cls_010"><span class="cls_010">ii.</span><span class="cls_011"> </span><span class="cls_006">Surgical
                                        Management</span></div>


        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Surgical_Managment == 'yes'%}
        <div style="position:absolute;left:284.40px;top:286.43px" class="cls_017"><span class="cls_017">( <img height="13px" src="/static/dist/tick.png" width="20px">
                                </span>
        </div>

        <div style="position:absolute;left:312.84px;top:286.09px" class="cls_006"><span class="cls_006">)</span>
        </div>
        {% else %}
        <span>
                                <div style="position:absolute;left:284.40px;top:286.43px" class="cls_017"><span
                                                class="cls_017">(</span>
    </div>

    <div style="position:absolute;left:312.84px;top:286.09px" class="cls_006"><span class="cls_006">)</span>
    </div>
    </span>
    {% endif %}


    <div style="position:absolute;left:55.68px;top:304.45px" class="cls_010"><span class="cls_010">iii.</span><span class="cls_011"> </span><span class="cls_006">Intensive
                                        care</span></div>

    {% if bunny.patient_details.doctor_proposedLineOfTreatment_Intensive_Care == 'yes' %}
    <div style="position:absolute;left:284.40px;top:304.79px" class="cls_017"><span class="cls_017">( <img height="13px" src="/static/dist/tick.png" width="20px">
                                </span>
    </div>

    <div style="position:absolute;left:312.84px;top:304.45px" class="cls_006"><span class="cls_006">)</span>
    </div>
    {% else %}
    <span>
                                <div style="position:absolute;left:284.40px;top:304.79px" class="cls_017"><span
                                                class="cls_017">(</span>
    </div>

    <div style="position:absolute;left:312.84px;top:304.45px" class="cls_006"><span class="cls_006">)</span>
    </div>
    </span>
    {% endif %}


    <div style="position:absolute;left:55.68px;top:322.53px" class="cls_010"><span class="cls_010">iv.</span><span class="cls_011"> </span><span class="cls_017">Investigation</span></div>

    {% if bunny.patient_details.doctor_proposedLineOfTreatment_Investigation == 'yes'%}
    <div style="position:absolute;left:284.40px;top:322.79px" class="cls_017"><span class="cls_017">( <img height="13px" src="/static/dist/tick.png" width="20px">
                                </span>
    </div>

    <div style="position:absolute;left:312.84px;top:322.45px" class="cls_006"><span class="cls_006">)</span>
    </div>
    {% else %}
    <span>
                                <div style="position:absolute;left:284.40px;top:322.79px" class="cls_017"><span
                                                class="cls_017">(</span>
    </div>

    <div style="position:absolute;left:312.84px;top:322.45px" class="cls_006"><span class="cls_006">)</span>
    </div>
    </span>
    {% endif %}

    <div style=""></div>


    <div style="position:absolute;left:55.68px;top:342px" class="cls_010"><span class="cls_010">v.</span><span class="cls_011"> </span><span class="cls_006">Non-allopathic treatment</span></div>

    {% if bunny.patient_details.doctor_proposedLineOfTreatment_Allopathic_Treatment == 'yes'%}
    <div style="position:absolute;left:284.40px;top:342px" class="cls_017"><span class="cls_017">( <img height="13px" src="/static/dist/tick.png" width="20px">
                                </span>
    </div>

    <div style="position:absolute;left:312.84px;top:342px" class="cls_006"><span class="cls_006">)</span>
    </div>
    {% else %}
    <span>
                                <div style="position:absolute;left:284.40px;top:342px" class="cls_017"><span
                                                class="cls_017">(</span>
    </div>

    <div style="position:absolute;left:312.84px;top:342px" class="cls_006"><span class="cls_006">)</span>
    </div>
    </span>
    {% endif %}



    <div style="position:absolute;left:28.44px;top:430px" class="cls_006"><span class="cls_006">H: If
                                        investigation and,/or Medical Management, provide</span></div>
    <div style="position:absolute;left:55.56px;top:460px" class="cls_006"><span class="cls_006">i. Route
                                        of Drug
                                        Administration</span></div>

    <div style="position:absolute; left:250px; top:460px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.Route_Of_Drug_Administration|upper}}</span></div>


    <div style="position:absolute;left:28.44px;top:490px" class="cls_006"><span class="cls_006">I: lf
                                        surgical,
                                        name of surgery</span></div>
    <div style="position:absolute; left:250px; top:490px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.If_Surgical_Name_of_Surgery|upper}} </span></div>


    <div style="position:absolute;left:55.68px;top:520px" class="cls_006"><span class="cls_006">i. ICD l0
                                        PCS
                                        code</span></div>

    <div style="position:absolute; left:250px; top:520px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.ICD_Code_10_PCS|upper}}</span></div>


    <div style="position:absolute;left:28.44px;top:550px" class="cls_006"><span class="cls_006">J: If
                                        other
                                        treatment, provide details</span></div>

    <div style="position:absolute; left:250px; top:550px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.If_Other_Treatment_Provide_Details|upper}} </span></div>


    <div style="position:absolute;left:28.44px;top:580px" class="cls_006"><span class="cls_006">K: How
                                        did injury
                                        occur</span></div>
    <div style="position:absolute; left:250px; top:580px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.How_Did_Injury_Occur|upper}} </span></div>

    <div style="position:absolute;left:28.44px;top:610px" class="cls_006"><span class="cls_006">L: ln
                                        case of
                                        accident</span></div>
    <div style="position:absolute; left:250px; top:610px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{hospitaldata.phone}}</span></div>

    <div style="position:absolute;left:58.44px;top:640px" class="cls_010"><span class="cls_010">i.</span><span class="cls_011"> </span><span class="cls_006">Is
                                        it
                                        RTA</span></div>

    {% if bunny.patient_details.In_Case_Of_Accident|upper == "YES" %}
    <div style="position:absolute;left:370.44px;top:640px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>

    <div style="position:absolute;left:412.44px;top:640px" class="cls_017"><span class="cls_017">Yes</span></div>

    <div style="position:absolute;left:450.44px;top:640px" class="cls_017 spanBox1"><span class="cls_017">  </span></div>

    <div style="position:absolute;left:490.44px;top:640px" class="cls_006"><span class="cls_006">No</span></div>
    {% endif %} {% if bunny.patient_details.In_Case_Of_Accident|upper != "YES" %}

    <div style="position:absolute;left:370.44px;top:640px" class="cls_017 spanBox1"><span class="cls_017"></span></div>

    <div style="position:absolute;left:412.44px;top:640px" class="cls_017"><span class="cls_017">Yes</span></div>

    <div style="position:absolute;left:450.44px;top:640px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>

    <div style="position:absolute;left:490.44px;top:640px" class="cls_006"><span class="cls_006">No</span></div>
    {% endif %}




    <div style="position:absolute;left:58.44px;top:670px" class="cls_010"><span class="cls_010">ii.</span><span class="cls_011"> </span><span class="cls_006">Date of
                                        injury</span></div>
    {% if bunny.patient_details.Date_Of_Injury == none %}
    <div style="position:absolute;left:388.44px;top:670px" class="cls_055"><span class="cls_055">(DD/MM/YYYY)</span></div>
    {% else %}
    <div style="position:absolute;left:388.44px;top:670px" class="cls_055"><span class="cls_055" style="font-size: 12px;font-weight: bold;">{{bunny.patient_details.Date_Of_Injury}}</span></div>
    {% endif %}

    <div style="position:absolute;left:58.44px;top:700px" class="cls_010"><span class="cls_010">iii.</span><span class="cls_011"> </span><span class="cls_006">Report to
                                        Police</span></div>

    {% if bunny.patient_details.Reported_To_Police == "yes" %}

    <div style="position:absolute;left:412.44px;top:700px" class="cls_017"><span class="cls_017">Yes</span></div>
    <div style="position:absolute;left:370.44px;top:700px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>

    <div style="position:absolute;left:490.44px;top:700px" class="cls_006"><span class="cls_006">No</span></div>

    <div style="position:absolute;left:450.44px;top:700px" class="cls_017 spanBox1"><span class="cls_017">  </span></div>

    {% endif %} {% if bunny.patient_details.Reported_To_Police != "yes" %}

    <div style="position:absolute;left:412.44px;top:690px" class="cls_017"><span class="cls_017">Yes</span></div>
    <div style="position:absolute;left:370.44px;top:690px" class="cls_017 spanBox1"><span class="cls_017"></span></div>

    <div style="position:absolute;left:490.44px;top:690px" class="cls_006"><span class="cls_006">No</span></div>

    <div style="position:absolute;left:450.44px;top:690px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>

    {% endif %}




    <div style="position:absolute;left:58.44px;top:730px" class="cls_010"><span class="cls_010">iv.</span><span class="cls_011"> </span><span class="cls_006">FIR
                                        NO</span> <span style="position:absolute;left:308.44px;top:2px">{{bunny.patient_details.FIR_Number|upper}}</span>
    </div>
    <div style="position:absolute;left:58.44px;top:760px" class="cls_010"><span class="cls_010">v.</span><span class="cls_011"> </span><span class="cls_006">Injury
                                        /Disease caused due to substance abuse/alcohol
                                        consumption</span></div>


    {% if bunny.patient_details.Injury_Disease_Caused_Due_To_Substance_Abuse_Alcohol_Consumption_|upper == 'YES' %}

    <div style="position:absolute;left:433.44px;top:760px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>

    <div style="position:absolute;left:464.44px;top:760px" class="cls_017"><span class="cls_017">Yes</span></div>
    <div style="position:absolute;left:496.44px;top:760px" class="cls_017 spanBox1"><span class="cls_017">  </span></div>

    <div style="position:absolute;left:526.44px;top:760px" class="cls_006"><span class="cls_006">No</span></div>

    {% endif %} {% if bunny.patient_details.Injury_Disease_Caused_Due_To_Substance_Abuse_Alcohol_Consumption_|upper != 'YES' %}

    <div style="position:absolute;left:433.44px;top:760px" class="cls_017 spanBox1"><span class="cls_017"></span></div>

    <div style="position:absolute;left:464.44px;top:760px" class="cls_017"><span class="cls_017">Yes</span></div>
    <div style="position:absolute;left:496.44px;top:760px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>

    <div style="position:absolute;left:526.44px;top:760px" class="cls_006"><span class="cls_006">No</span></div>

    {% endif %}


    <div style="position:absolute;left:58.44px;top:790px" class="cls_010"><span class="cls_010">vi.</span><span class="cls_011"> </span><span class="cls_006">Test
                                        conducted to establish this (if yes, attach
                                        report)</span></div>

    {% if bunny.patient_details.doctor_testAlcohol == "Yes" %}

    <div style="position:absolute;left:370.44px;top:790px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>


    <div style="position:absolute;left:412.44px;top:790px" class="cls_017"><span class="cls_017">Yes</span></div>
    <div style="position:absolute;left:450.44px;top:790px" class="cls_017 spanBox1"><span class="cls_017"></span></div>
    <div style="position:absolute;left:490.44px;top:790px" class="cls_006"><span class="cls_006">No</span></div>

    {% endif %} {% if bunny.patient_details.doctor_testAlcohol|upper != 'YES' %}

    <div style="position:absolute;left:370.44px;top:790px" class="cls_017 spanBox1"><span class="cls_017"></span></div>


    <div style="position:absolute;left:412.44px;top:790px" class="cls_017"><span class="cls_017">Yes</span></div>
    <div style="position:absolute;left:450.44px;top:790px" class="cls_017 spanBox1"><span class="cls_017"> <img height="13px" src="../static/dist/tick.png" width="20px"> </span></div>
    <div style="position:absolute;left:490.44px;top:790px" class="cls_006"><span class="cls_006">No</span></div>

    {% endif %}


    <div style="position:absolute;left:28.44px;top:830px" class="cls_010"><span class="cls_010">M.</span><span class="cls_011"> </span><span class="cls_006">In
                                        case of
                                        Maternity</span></div>

    {% if bunny.patient_details.G|upper == 'YES' %}
    <div style="position:absolute;left:248.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"> <img height="9px" src="../static/dist/tick.png" width="13px"> </span></div>
    {% else %}
    <div style="position:absolute;left:248.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"></span></div>
    {% endif %}



    <div style="position:absolute;left:262.44px;top:830px" class="cls_017"><span class="cls_017">G</span>
    </div>

    {% if bunny.patient_details.P|upper == 'YES' %}
    <div style="position:absolute;left:314.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"> <img height="9px" src="../static/dist/tick.png" width="13px"> </span></div>
    {% else %}
    <div style="position:absolute;left:314.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"></span></div>
    {% endif %}


    <div style="position:absolute;left:328.44px;top:830px" class="cls_017"><span class="cls_017">P</span>
    </div>
    {% if bunny.patient_details.L|upper == 'YES' %}
    <div style="position:absolute;left:392.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"> <img height="9px" src="../static/dist/tick.png" width="13px"> </span></div>
    {% else %}
    <div style="position:absolute;left:392.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"></span></div>
    {% endif %}



    <div style="position:absolute;left:406.44px;top:830px" class="cls_017"><span class="cls_017">L</span>
    </div>
    {% if bunny.patient_details.A|upper == 'YES' %}
    <div style="position:absolute;left:464.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"> <img height="9px" src="../static/dist/tick.png" width="13px"> </span></div>
    {% else %}
    <div style="position:absolute;left:464.44px;top:830px" class="cls_017 spanBox2"><span class="cls_017"></span></div>
    {% endif %}



    <div style="position:absolute;left:478.44px;top:830px" class="cls_006"><span class="cls_006">A</span>
    </div>
    <div style="position:absolute;left:58.44px;top:870px" class="cls_010"><span class="cls_010">i.</span><span class="cls_011"> </span><span class="cls_006">Expected
                                        date of Delivery</span></div>

    <div style="position:absolute; left:250px; top:870px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.ExpectedDateOfDelivery|upper}}</span></div>


    <div style="position:absolute;left: 440.44px;top:865px" class="cls_006"><span class="cls_006">DD/MM/YYYY</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-306px;top:2100px;width:612px;height:1000px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">

        </div>

        <div style="position:absolute;left:204.12px;top:35.05px" class="cls_052"><span class="cls_052">DETAILS
                                        OF
                                        PATIENT ADMITTED</span></div>

        <div style="position:absolute;left:30.00px;top:88.69px" class="cls_006"><span class="cls_006">A:
                                        Date of
                                        admission</span></div>

        <div style="position:absolute; left:250px; top: 88.69px; text-align:center; width:50%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.Date_of_Admission.8|upper}}{{bunny.hospital_details.Date_of_Admission.9|upper}}/{{bunny.hospital_details.Date_of_Admission.5|upper}}{{bunny.hospital_details.Date_of_Admission.6|upper}}/{{bunny.hospital_details.Date_of_Admission.0|upper}}{{bunny.hospital_details.Date_of_Admission.1|upper}}{{bunny.hospital_details.Date_of_Admission.2|upper}}{{bunny.hospital_details.Date_of_Admission.3|upper}} </span></div>


        <div style="position:absolute;left: 434.36px;top: 81.69px;" class="cls_006"><span class="cls_006">(DD/MM/YYYY)</span></div>
        <div style="position:absolute;left:30.00px;top:106.93px" class="cls_006"><span class="cls_006">B: Time
                                        of
                                        admission</span></div>
        <div style="position:absolute;left:402.36px;top:104.05px" class="cls_055"><span class="cls_055" style="font-weight:bold; font-size:12.5px"> {{bunny.hospital_details.admission_time|upper}} ( HH :
                                        MM
                                        )</span></div>




        <div style="position:absolute;left:30.00px;top:125.05px" class="cls_006"><span class="cls_006">C: Is
                                        this an
                        
                                        emergency/planned hospitalization event</span></div>


        {% if bunny.patient_details.Type|upper == "EMERGENCY" %}
        <div style="position:absolute;left: 337.44px;top:124.57px" class="cls_017 spanBox2"><span class="cls_017"> <img height="13px" src="/static/dist/tick.png" width="20px"> </span></div>

        {% else %}
        <div style="position:absolute;left: 337.44px;top:124.57px" class="cls_017 spanBox2"><span class="cls_017"></span></div>

        {% endif %}

        <div style="position:absolute;left: 337.44px;top:124.57px" class="cls_017 spanBox2"><span class="cls_017"></span></div>

        <div style="position:absolute;left:367.32px;top:124.57px" class="cls_006"><span class="cls_006">Emergency</span>
        </div>



        {% if bunny.patient_details.Type|upper == "PLANNED" %}
        <div style="position:absolute;left: 443.44px;top:124.93px" class="cls_017 spanBox2"><span class="cls_017"> <img height="13px" src="/static/dist/tick.png" width="20px"> </span></div>
        {% else %}
        <div style="position:absolute;left: 443.44px;top:124.93px" class="cls_017 spanBox2"><span class="cls_017"></span></div>
        {% endif %}



        <div style="position:absolute;left:473.52px;top:124.93px" class="cls_006"><span class="cls_006">Planned</span>
        </div>

        <div style="position:absolute;left:30.00px;top:143.29px" class="cls_006"><span class="cls_006">D:
                                        Mandatory Past
                                        History of any chronic illness</span></div>
        <div style="position:absolute;left:367.32px;top:142.57px" class="cls_006"><span class="cls_006">If yes
                                        (Since
                                        month/year)</span></div>
        <div style="position:absolute;left:108.36px;top:171.49px" class="cls_010"><span class="cls_010">i.</span><span class="cls_011"> </span><span class="cls_006">Diabetes</span></div>

        <div style="position:absolute; left: 315px; top:171.49px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.MandatoryPastHistoryMonth}}/{{bunny.patient_details.MandatoryPastHistoryYear}}</span></div>


        <div style="position:absolute;left:108.84px;top:189.85px" class="cls_006"><span class="cls_006">ll.
                                        Heart
                                        disease</span></div>

        <div style="position:absolute; left: 315px; top:189.85px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                       {{bunny.patient_details.HeartDiseaseMonth|upper}}/{{bunny.patient_details.HeartDiseaseYear|upper}}
                  
                                </span></div>


        <div style="position:absolute;left:108.36px;top:207.25px" class="cls_010"><span class="cls_010">iii.</span><span class="cls_011"> </span><span class="cls_006">Hypertension</span></div>

        <div style="position:absolute; left: 315px; top:207.25px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                  
                  {{bunny.patient_details.HypertensionMonth|upper}}/{{bunny.patient_details.HypertensionYear|upper}}
                    
                                </span></div>

        <div style="position:absolute;left:108.36px;top:225.37px" class="cls_010"><span class="cls_010">iv.</span><span class="cls_011"> </span><span class="cls_006">Hyperlipidemias</span></div>

        <div style="position:absolute; left: 315px; top:225.37px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                      {{bunny.patient_details.HyperlipidemiasMonth|upper}}/{{bunny.patient_details.HyperlipidemiasYear|upper}}
                  
                                </span></div>

        <div style="position:absolute;left:108.36px;top:243.61px" class="cls_010"><span class="cls_010">v.</span><span class="cls_011"> </span><span class="cls_006">Osteoarthritis</span></div>

        <div style="position:absolute; left: 315px; top:243.61px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                   {{bunny.patient_details.OsteoarthritisMonth|upper}}/{{bunny.patient_details.OsteoarthritisYear|upper}}

                                </span></div>

        <div style="position:absolute;left:108.36px;top:261.01px" class="cls_010"><span class="cls_010">vi.</span><span class="cls_011"> </span><span class="cls_006">Asthma./COPD/Bronchitis</span></div>
        <div style="position:absolute; left: 315px; top:261.01px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                              {{bunny.patient_details.AsthmaOrCOPDOrBronchitisMonth|upper}}/{{bunny.patient_details.AsthmaOrCOPDOrBronchitisYear|upper}}
                  </span></div>

        <div style="position:absolute;left:108.36px;top:279.13px" class="cls_010"><span class="cls_010">vii.</span><span class="cls_011"> </span><span class="cls_006">Cancer</span></div>

        <div style="position:absolute; left: 315px; top:279.13px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                       {{bunny.patient_details.CancerMonth|upper}}/{{bunny.patient_details.CancerYear|upper}}
                 
                                </span></div>

        <div style="position:absolute;left:108.36px;top:297.49px" class="cls_006"><span class="cls_006">viii .
                                        Alcohol/Drug abuse</span></div>

        <div style="position:absolute; left: 315px; top: 297.49px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                      {{bunny.patient_details.AlcoholOrDrugAbuseMonth|upper}}/{{bunny.patient_details.AlcoholOrDrugAbuseYear|upper}}
                  
                                </span></div>

        <div style="position:absolute;left:108.36px;top:315.73px" class="cls_010"><span class="cls_010">ix.</span><span class="cls_011"> </span><span class="cls_006">Any HIV/
                                        or STD Related ailment</span></div>

        <div style="position:absolute; left: 315px; top:315.73px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007">
                                        {{bunny.patient_details.anyHIVOrSTDOrRelatedAlimentsMonth|upper}}/{{bunny.patient_details.anyHIVOrSTDOrRelatedAlimentsYear|upper}}
                                </span></div>

        <div style="position:absolute;left:108.36px;top:332.41px" class="cls_010"><span class="cls_010">x.</span><span class="cls_011"> </span><span class="cls_006">Any
                                        other
                                        ailment, give details</span></div>

        <div style="position:absolute; left: 315px; top:332.41px; text-align:center; width:45%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.patient_details.OtherAliments}}</span></div>

        <div style="position:absolute;left:30.00px;top:363.25px" class="cls_010"><span class="cls_010">E.</span><span class="cls_011"> </span><span class="cls_006">Expected
                                        number of Days/stay in hospital provide
                                        details</span></div>

        <div style="position:absolute; left: 350px; top:363.25px; text-align:center; width:26%;" class="cls_007 spanLine"><span class="cls_007">
                                 {{bunny.hospital_details.Days_In_Hospital|upper}}
                                </span></div>

        <div style="position:absolute;left:514.32px;top:361.57px" class="cls_010"><span class="cls_010">Days</span>
        </div>
        <div style="position:absolute;left:30.00px;top:382.93px" class="cls_010"><span class="cls_010">F.</span><span class="cls_011"> </span><span class="cls_006">Days in
                                        ICU</span></div>

        <div style="position:absolute; left: 350px; top:382.93px; text-align:center; width:26%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.Days_In_ICU|upper}}</span></div>

        <div style="position:absolute;left:514.32px;top: 382px" class="cls_006"><span class="cls_006">Days</span>
        </div>
        <div style="position:absolute;left:30.00px;top:400.93px" class="cls_010"><span class="cls_010">G.</span><span class="cls_011"> </span><span class="cls_006">Room
                                        Type</span></div>

        <div style="position:absolute; left: 315px; top:400.93px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.hospital_details.Room_Type|upper}}</span></div>

        <div style="position:absolute;left:30.00px;top:419.29px" class="cls_010"><span class="cls_010">H.</span><span class="cls_011"> </span><span class="cls_006">Per
                                        day
                                        room rent+ nursing and service charges+ patients
                                        diet</span>
        </div>
        <div style="position:absolute; left:396.96px; top:419.29px; text-align:center; width: 30%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.Per_Day_Room_Rent|upper}}</span></div>


        <div style="position:absolute;left:30.00px;top:437.53px" class="cls_010"><span class="cls_010">I.</span><span class="cls_011"> </span><span class="cls_006">Expected
                                        cost of investigation + diagnostic</span></div>

        <div style="position:absolute; left: 336.96px; top:438px; text-align:center; width:40%;" class="cls_007 spanLine"><span class="cls_007">
                                {{bunny.hospital_details.Cost_Of_Investigation|upper}}
                                </span></div>


        <div style="position:absolute;left:30.00px;top:454.93px" class="cls_010"><span class="cls_010">J.</span><span class="cls_011"> </span><span class="cls_006">ICU
                                        charges</span></div>

        <div style="position:absolute; left: 336.96px; top:454px; text-align:center; width:40%;" class="cls_007 spanLine"><span class="cls_007">
                                {{bunny.hospital_details.ICU_Charges|upper}}
                                </span></div>



        <div style="position:absolute;left:30.00px;top:473.05px" class="cls_010"><span class="cls_010">K.</span><span class="cls_011"> </span><span class="cls_006">OT
                                        charges</span></div>

        <div style="position:absolute; left: 336.96px; top:473.05px; text-align:center; width:40%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.hospital_details.OT_Charges|upper}}</span></div>


        <div style="position:absolute;left:30.00px;top:491.29px" class="cls_010"><span class="cls_010">L.</span><span class="cls_011"> </span><span class="cls_006">Professional fees Surgeon+Anesthetist Fees+consultation
                                        Charges</span>
        </div>

        <div style="position:absolute; left: 405.96px; top:491px; text-align:center; width:28%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.ProfessionalFeesSurgeon|upper}}</span></div>

        <div style="position:absolute;left:30.00px;top:510.85px" class="cls_010"><span class="cls_010">M.</span><span class="cls_011"> </span><span class="cls_006">Medicines+
                                        Consumables+ Cost of Implants (if applicable
                                        please specify)</span></div>

        <div style="position:absolute; left: 444.96px; top:510.85px; text-align:center; width:22%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.cost_Of_Implant|upper}}</span></div>



        <div style="position:absolute;left:30.00px;top:531.85px" class="cls_010"><span class="cls_010">N.</span><span class="cls_011"> </span><span class="cls_006">Other
                                        hospital expenses if any</span></div>

        <div style="position:absolute; left: 336.96px; top:532px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.OtherHospitalIfAny|upper}}</span></div>

        <div style="position:absolute;left:30.00px;top:552.25px" class="cls_010"><span class="cls_010">O.</span><span class="cls_011"> </span><span class="cls_006">All-inclusive package charges if any applicable</span>
        </div>


        <div style="position:absolute; left: 336.96px; top:552.25px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">
                                 {{bunny.hospital_details.All_Including_Package|upper}}
                                </span></div>







        <div style="position:absolute;left:30.00px;top:572.77px" class="cls_010"><span class="cls_010">P.</span><span class="cls_011"> </span><span class="cls_006">Sum
                                        Total
                                        expected cost of hospitalization</span></div>

        <div style="position:absolute; left: 336.96px; top:572.77px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">
                                 {{bunny.hospital_details.total|upper}}
                                </span></div>

    </div>


    <div style="position:absolute;left:50%;margin-left:-306px;top:3170px;width:612px;height: 950px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px"> </div>
        <div style="position:absolute;left:253.68px;top:70.69px" class="cls_056"><span class="cls_056">DECLARATION</span></div>
        <div style="position:absolute;left:235.80px;top:87.13px" class="cls_003"><span class="cls_003">(Please
                                        read very
                                        carefully)</span></div>
        <div style="position:absolute;left:72.00px;top:112.81px" class="cls_006"><span class="cls_006">We
                                        confirm having
                                        read understood and agreed to the Declarations of this form</span></div>
        <div style="position:absolute;left:90.00px;top:135.85px" class="cls_010"><span class="cls_010">a.</span><span class="cls_011"> </span><span class="cls_006">
                                        Name of
                                        the treating doctor</span></div>

        <div style="position:absolute; left: 336.96px; top:135.85px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">
                                {{bunny.hospital_details.Treating_Doctor_Name|upper}}
                                </span></div>

        <div style="position:absolute;left:90.00px;top:158.89px" class="cls_010"><span class="cls_010">b.</span><span class="cls_011"> </span><span class="cls_006">
                                        Qualification:</span></div>

        <div style="position:absolute; left: 336.96px; top:158.89px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">
                                 {{doctor_details.qualification|upper}}
                                </span></div>


        <div style="position:absolute;left:89.88px;top:181.93px" class="cls_010"><span class="cls_010">c.</span><span class="cls_011"> </span><span class="cls_006">
                                        Registration number with State code</span></div>


        <div style="position:absolute; left: 336.96px; top:181.85px; text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007"></span></div>



        <div style="position:absolute;left:72.00px;top:303.25px" class="cls_008"><span class="cls_008">Hospital
                                        Seal</span></div>
        <div style="position:absolute;left:431.88px;top:303.25px" class="cls_008"><span class="cls_008">Patient
                                        /
                                        lnsured Name</span></div>
        <div style="position:absolute;left:72.00px;top:349.93px" class="cls_008"><span class="cls_008">(Must
                                        Include
                                        Hospital ID)</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-306px;top:4220px;width:612px;height:950px;border-style:outset;overflow:hidden">

        <div style="position:absolute;left:72.00px;top:71.05px" class="cls_053"><span class="cls_053">DECLARATION BY THE
                                        PATIENT / REPRESENTATIVE</span></div>
        <div style="position:absolute;left:90.00px;top:94.89px" class="cls_010"><span class="cls_010">a.</span>
        </div>
        <div style="position:absolute;left:108.00px;top:94.81px" class="cls_006"><span class="cls_006">I
                                        agree
                                        to allow
                                        the hospital to submit all original documents pertaining to hospitalization to
                                        the Insurer/T.P.A
                                        after the discharge. I agree to sign on the Final Bill & the Discharge Summary,
                                        before
                                        my discharge.</span></div>

        <div style="position:absolute;left:90.00px;top:140.85px" class="cls_010"><span class="cls_010">b.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:140.77px" class="cls_006"><span class="cls_006">Payment
                                        to
                                        hospital is governed by the terms and conditions of the policy. In case the
                                        lnsurer /
                                        TPA is not liable
                                        to settle
                                        the hospital bill, I undertake to settle the bill as per the terms and
                                        conditions of the
                                        policy.</span>
        </div>

        <div style="position:absolute;left:89.88px;top:190.41px" class="cls_010"><span class="cls_010">c.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:190.33px" class="cls_006"><span class="cls_006">All
                                        non-medical
                                        expenses and expenses not relevant to current hospitalization and the amounts
                                        over above
                                        the limit
                                        authorized by the Insurer/T.P.A not governed by the terms and conditions of the
                                        policy
                                        will be paid
                                        by
                                        me.
                                        &</span></div>

        <div style="position:absolute;left:89.88px;top:245.37px" class="cls_010"><span class="cls_010">d.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:245.29px" class="cls_006"><span class="cls_006">I hereby
                                        declare
                                        to abide by the terms and conditions of the policy and if at any time the facts
                                        disclosed by me are
                                        found to
                                        be false or incorrect I forfeit my claim and agree to indemnify the insurer /
                                        T.P.A</span>
        </div>

        <div style="position:absolute;left:89.88px;top:295.93px" class="cls_010"><span class="cls_010">e.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:295.85px" class="cls_006"><span class="cls_006">I agree
                                        and
                                        understand that T.P.A is in no way warranting the service of the hospital & that
                                        the
                                        Insurer / TPA is
                                        in no way
                                        guaranteeing that the services provided by the hospital will be of a particular
                                        quality
                                        or standard.</span>
        </div>

        <div style="position:absolute;left:89.88px;top:346.01px" class="cls_010"><span class="cls_010">f.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:346.93px" class="cls_006"><span class="cls_006">I hereby
                                        warrant
                                        the truth of the forgoing particulars in every respect and I agree that if I
                                        have made
                                        or shall make any
                                        false
                                        or untrue statement, suppression or concealment with respect to the claim, my
                                        right to
                                        claim reimbursement of
                                        the said expenses shall be absolutely forfeited.</span>
        </div>

        <div style="position:absolute;left:89.88px;top:396.85px" class="cls_010"><span class="cls_010">g.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:396.77px" class="cls_006"><span class="cls_006">I agree
                                        to
                                        indemnify the hospital against all expenses incurred on my behalf, which are not
                                        reimbursed by the
                                        Insurer/
                                        TPA.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:359.29px" class="cls_006"><span class="cls_006"></span></div>
        <div style="position:absolute;left:89.88px;top:439.41px" class="cls_010"><span class="cls_010">h.</span>
        </div>
        <div style="position:absolute;left:107.88px;top:439.33px" class="cls_006"><span class="cls_006">"I/We
                                        authorize
                                        Insurance Company/TPA to contact me/us through mobile/email for any update on
                                        this claim"</span></div>

        <div style="position:absolute;left:108.00px;top:484.37px" class="cls_030"><span class="cls_030">a)</span><span class="cls_031"> </span><span class="cls_006">
                                        Patient's
                                        / Insured's Name:</span>
            <div style="position: absolute;
                                        left: 169px;
                                        top: 0;
                                        text-align: center;
                                        width: 182%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Name|upper}}</span></div>

        </div>
        <div style="position:absolute;left:108.00px;top:514.29px" class="cls_030"><span class="cls_030">b)</span><span class="cls_031"> </span><span class="cls_006">
                                        Contact
                                        Number:</span>
            <div style="position: absolute;
                                        left: 109px;
                                        top: 0;
                                        text-align: center;
                                        width: 108%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.patient_details.Phone|upper}}</span></div>
        </div>
        <div style="position:absolute;left:332.40px;top:514.29px" class="cls_006"><span class="cls_006">e-mail
                                        Id(optional)</span></div>
        <div style="position:absolute;left:108.00px;top:543.33px" class="cls_017"><span class="cls_017">d)
                                </span><span class="cls_006"> Patient's / Insured's Signature:</span></div>
        <div style="position:absolute;left:108.00px;top:568.25px" class="cls_006"><span class="cls_006">Date: _____________</span>
        </div>
        <div style="position:absolute;left:319.68px;top:568.25px" class="cls_006"><span class="cls_006">Time:____________
                                        
                                        </span>
        </div>
        <div style="position:absolute;left:108.00px;top:599.37px" class="cls_053"><span class="cls_053">HOSPITAL
                                        DECLARATION</span></div>
        <div style="position:absolute;left:90.00px;top:621.13px" class="cls_010"><span class="cls_010">a.</span><span class="cls_011"> </span><span class="cls_006"> We
                                        have no
                                        objection to any authorized TPA / Insurance
                                        Company official verifying documents pertaining to
                                        hospitalization.to
                                        hospitalization.</span></div>

        <div style="position:absolute;left:90.00px;top:660.45px" class="cls_010"><span class="cls_010">b.</span><span class="cls_011"> </span><span class="cls_006">
                                        All valid
                                        original documents duly countersigned by the
                                        insured / patient as per the checklist below will be sent to
                                        TPA/
                                        lnsurance Company within 7 days of the patients discharge.</span></div>

        <div style="position:absolute;left:90.00px;top:700.01px" class="cls_010"><span class="cls_010">c.</span><span class="cls_011"> </span><span class="cls_006"> We
                                        agree
                                        that TPA / Insurance Company will not be liable
                                        to make the payment in the event of any discrepancy
                                        between the facts in this form and discharge summary or other documents.</span></div>


        <div style="position:absolute;left:90.00px;top:739.45px" class="cls_010"><span class="cls_010">d.</span><span class="cls_011"> </span><span class="cls_006">
                                        The
                                        patient declaration has been signed by the patient or
                                        by his representative in our presence.</span></div>

        <div style="position:absolute;left:90.00px;top:764.49px" class="cls_010"><span class="cls_010">e.</span><span class="cls_011"> </span><span class="cls_006"> We
                                        agree to provide clarifications for the queries raised regarding this hospitalization and we take 
                                        responsibility the sole for any delay in offering clarifications</span></div>

        <div style="position:absolute;left:90.00px;top:800.90px" class="cls_010"><span class="cls_010">f.</span>
        </div>
        <div style="position:absolute;left:108.00px;top:800.93px" class="cls_006"><span class="cls_006">We will abide by the terms and conditions agreed in the MOU.</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-306px;top:5250px;width:612px;height:950px;border-style:outset;overflow:hidden">

        <div style="position:absolute;left:90.00px;top:70.69px" class="cls_010"><span class="cls_010">g.</span><span class="cls_011"> </span><span class="cls_006"> We
                                        confirm
                                        that no additional amount would be collected
                                        from the insured in excess of Agreed Package
                                        Rates
                                        except
                                        costs towards non-admissible amounts (including additional charges due to opting
                                        higher
                                        room rent
                                        than
                                        eligibility choosing separate line of treatment which is not
                                        envisaged/considered
                                        in package).</span></div>


        <div style="position:absolute;left:90.00px;top:136.29px" class="cls_010">
            <span class="cls_010">h.</span><span class="cls_011"> </span>
            <span class="cls_006"> We confirm
                                        that no recoveries would be made from the
                                        deposit amount collected from the lnsured except 
                                        for
                                        costs
                                        towards non-admissible amounts (including additional charges due to opting
                                        higher room
                                        rent than
                                        eligibility/choosing separate line of treatment which is not
                                        envisaged/considered in
                                        package).</span></div>

        <div style="position:absolute;left:90.00px;top:204.21px" class="cls_010"><span class="cls_010">
                        <span class="cls_010">i.</span><span class="cls_011"> </span>
            <span class="cls_006">In the
                                        event of
                                        unauthorized recovery of any additional amount from the Insured in excess of
                                        Agreed Package
                                        Rates,
                                        the authorized TPA / Insurance Company reserves the right to recover the same
                                        from
                                        us (the
                                        Network
                                        Provider) and/or take necessary action, as provided under the MoU or applicable
                                        laws.</span></div>

        <div style="position:absolute;left:72.00px;top:282.61px" class="cls_008"><span class="cls_008">Hospital
                                        Seal</span></div>
        <div style="position:absolute;left:396.00px;top:282.61px" class="cls_008"><span class="cls_008">Doctors
                                        Signature</span></div>
        <div style="position:absolute;left:72.00px;top:332.55px" class="cls_032"><span class="cls_032" style="font-size:14px">Date:</span>
        </div>
        <div style="position:absolute;left:201.44px;top:332.21px" class="cls_008"><span class="cls_008">Time:</span>
        </div>
    </div>


    </div>
    <script>
        function plzDown() {


            var element = document.getElementById('invoice');
            html2pdf(element, {
                margin: 10,
                filename: 'MD_India_Health_Insurance.pdf',
                image: {
                    type: 'jpeg',
                    quality: 0.98
                },
                html2canvas: {
                    scale: 2,
                    logging: true,
                    dpi: 192,
                    letterRendering: true
                },
                jsPDF: {
                    unit: 'mm',
                    format: 'a4',
                    orientation: 'portrait'
                }
            });

        }
    </script>
</body>

</html>