<html>

<head>
        <title>MedSave</title>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
        <style type="text/css">
                span.cls_014 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: underline
                }

                div.cls_014 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_004 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none
                }

                div.cls_004 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_015 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(197, 217, 240);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: underline
                }

                div.cls_015 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(197, 217, 240);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_002 {
                        font-family: "Calibri", serif;
                        font-size: 11.1px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                div.cls_002 {
                        font-family: "Calibri", serif;
                        font-size: 11.1px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_006 {
                        font-family: "Calibri", serif;
                        font-size: 11.1px;
                        color: rgb(146, 146, 146);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none
                }

                div.cls_006 {
                        font-family: "Calibri", serif;
                        font-size: 11.1px;
                        color: rgb(146, 146, 146);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_016 {
                        font-family: Times, serif;
                        font-size: 9.1px;
                        color: rgb(197, 217, 240);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: underline
                }

                div.cls_016 {
                        font-family: Times, serif;
                        font-size: 9.1px;
                        color: rgb(197, 217, 240);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_003 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none
                }

                div.cls_003 {
                        font-family: Times, serif;
                        font-size: 10.0px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_017 {
                        font-family: Times, serif;
                        font-size: 10.4px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: underline
                }

                div.cls_017 {
                        font-family: Times, serif;
                        font-size: 10.4px;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_012 {
                        font-family: Times, serif;
                        font-size: 10.2px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                div.cls_012 {
                        font-family: Times, serif;
                        font-size: 10.2px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                span.cls_011 {
                        font-family: Times, serif;
                        font-size: 10.3px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                div.cls_011 {
                        font-family: Times, serif;
                        font-size: 10.3px;
                        color: rgb(0, 0, 0);
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none
                }

                .spanLine {
                        font-size: 10.5px;
                        display: inline-block;
                        border-bottom: 1px solid #444;
                        vertical-align: middle;
                        line-height: 9px;
                        width: 10px;
                        height: 9px;
                        margin-top: 0px;
                        margin-left: -4.35px;
                }

                .spanBox {
                        text-align: center;
                        display: inline-block;
                        border: 1.1px solid #000000;
                        vertical-align: middle;
                        width: 0.7rem;
                        height: 0.7rem;
                        margin-left: -1.15px;
                        overflow: hidden;
                        text-transform: capitalize;
                        font-size: 1.3em;
                        margin-bottom: 0.1em;
                        flex-wrap: nowrap;
                }
        </style>
        <script type="text/javascript"
                src="da14ab4c-01b1-11ec-a980-0cc47a792c0a_id_da14ab4c-01b1-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>

<body>
        <button id="download" onclick="plzDown()"> Download Form</button>
        <div  id="invoice" style="height: 4100px;">
                <div
                style="position:absolute;left:50%;margin-left:-297px;top:0px;width:594px;height:1000px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:410.02px;top:10.10px" class="cls_014">
                        <img src="../static/dist/img/MedSave.png" width="150" alt="" srcset="">
                </div>
                <div style="position:absolute;left:114.02px;top:88.10px" class="cls_014"><span class="cls_014">REQUEST
                                FOR
                                CASHLESS HOSPITALISATION FOR HEALTH INSURANCE</span></div>
                <div style="position:absolute;left:245.33px;top:100.46px" class="cls_014"><span class="cls_014">POLICY
                                PART —
                                C</span></div>
                <div style="position:absolute;left:195.89px;top:113.90px" class="cls_004"><span class="cls_004">(TO BE
                                FILLED IN
                                BLOCK LETTERS)</span></div>
                <div style="position:absolute;left:118.58px;top:125.78px" class="cls_014"><span class="cls_014">DETAILS
                                OF THE
                                THIRD PARTY ADMINISTRATOR/INSURER/HOSPITAL</span></div>
                <div style="position:absolute;left:48.84px;top:148.70px" class="cls_004"><span class="cls_004">a.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:148.70px" class="cls_004"><span class="cls_004">Name of
                                TPA/insurance Company:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:148.70px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;"> Medsave health insurance TPA </span>
                </div>
                <div style="position:absolute;left:48.84px;top:165.86px" class="cls_004"><span class="cls_004">b.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:165.86px" class="cls_004"><span class="cls_004">Toll free
                                phone
                                number:</span></div>
                <div style="position:absolute;left:282.91px;top:165.86px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{hospitaldata.phone}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:183.14px" class="cls_004"><span class="cls_004">c.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:183.14px" class="cls_004"><span class="cls_004">Toll free
                                fax:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:183.14px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;"></span>
                </div>
                <div style="position:absolute;left:48.84px;top:200.42px" class="cls_004"><span class="cls_004">d.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:200.42px" class="cls_004"><span class="cls_004">Name of
                                Hospital:</span></div>
                <div style="position:absolute;left:282.91px;top:200.42px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{hospitaldata.name|upper}}</span>
                </div>
                <div style="position:absolute;left:75.86px;top:217.70px" class="cls_004"><span class="cls_004">i.
                                Address</span>
                </div>
                <div style="position:absolute;left:282.91px;top:217.70px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{hospitaldata.address|upper}}</span>
                </div>
                <div style="position:absolute;left:75.86px;top:234.89px" class="cls_004"><span class="cls_004">ii.
                                Rohini
                                ID</span>
                </div>
                <div style="position:absolute;left:282.91px;top:234.89px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{hospitaldata.rohini|upper}}</span>
                </div>
                <div style="position:absolute;left:75.86px;top:252.17px" class="cls_004">
                        <span class="cls_004">iii.e-mail id</span>
                </div>
                <div style="position:absolute;left:282.91px;top:252.17px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{hospitaldata.email|upper}}</span>
                </div>
                <div style="position:absolute;left:202.13px;top:285.53px" class="cls_014"><span class="cls_014">TO BE
                                FILLED BY
                                INSURED/PATIENT</span></div>
                <div style="position:absolute;left:48.84px;top:308.45px" class="cls_004"><span class="cls_004">A.</span>
                </div>
                <div style="position:absolute;left:76.22px;top:308.45px" class="cls_004"><span class="cls_004">Name of
                                the
                                Patient:</span></div>
                <div style="position:absolute;left:282.91px;top:308.45px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{bunny.patient_details.Name|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:340px" class="cls_004"><span class="cls_004">B.</span>
                </div>
                <div style="position:absolute;left:76.22px;top:340px" class="cls_004"><span
                                class="cls_004">Gender:</span></div>
                <div style="position:absolute;left:300.22px;top:340px" class="cls_004">
                        {% if bunny.patient_details.Gender == 'male' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">Male&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Female&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Third Gender</span>

                        {% elif bunny.patient_details.Gender == 'female' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Male&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">Female&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Third Gender</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Male&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Female&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">Third Gender</span>
                        {% endif %}
                </div>

                <div style="position:absolute;left:48.84px;top:380px" class="cls_004"><span class="cls_004">C.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:380px" class="cls_004"><span
                                class="cls_004">Age:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:380px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">{{bunny.patient_details.AgeYear|upper}} /
                                {{bunny.patient_details.AgeMonth|upper}}</span>
                </div>
                <div style="position:absolute;left:465.91px;top:380px" class="cls_015"><span class="cls_004">(Years)
                                /
                                (Month)</span>
                </div>
                <div style="position:absolute;left:48.84px;top:410px" class="cls_004"><span class="cls_004">D.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:410px" class="cls_004"><span class="cls_004">
                                Date of Birth:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:410px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 180px;">
                                {{bunny.patient_details.DOB.8|upper}}{{bunny.patient_details.DOB.9|upper}}/{{bunny.patient_details.DOB.5|upper}}{{bunny.patient_details.DOB.6|upper}}/{{bunny.patient_details.DOB.0|upper}}{{bunny.patient_details.DOB.1|upper}}{{bunny.patient_details.DOB.2|upper}}{{bunny.patient_details.DOB.3|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:465.91px;top:410px" class="cls_004"><span
                                class="cls_004">(DD/MM/YYYY)</span>
                </div>
                <div style="position:absolute;left:48.84px;top:440px" class="cls_004"><span class="cls_004">E.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:440px" class="cls_004"><span class="cls_004">Contact
                                number:</span></div>
                <div style="position:absolute;left:282.91px;top:440px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Phone|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:470px" class="cls_004"><span class="cls_004">F.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:470px" class="cls_004"><span class="cls_004">
                                Contact number of attending Relative:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:470px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Attending_Relative_Number|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:500px" class="cls_004"><span class="cls_004">G.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:500px" class="cls_004">
                        <span class="cls_004">Insured Card ID number:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:500px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Health_Id|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:540px" class="cls_004"><span class="cls_004">H.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:540px" class="cls_004"><span class="cls_004">Policy
                                number/Name of Corporate</span></div>
                <div style="position:absolute;left:282.91px;top:540px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Policy_Id|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:570px" class="cls_004"><span class="cls_004">I.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:570px" class="cls_004"><span class="cls_004">Employee
                                ID:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:570px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.EmployeeId|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:600px" class="cls_004"><span class="cls_004">J.</span>
                </div>
                <div style="position:absolute;left:76.22px;top:600px" class="cls_004"><span class="cls_004">Currently
                                do you
                                have any other med claim /health insurance:</span>
                </div>
                <div style="position:absolute;left:446.22px;top:600px" class="cls_004">
                        {% if bunny.patient_details.patient_details_HealthInsurance == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">No</span>
                        {% endif %}
                </div>


                <div style="position:absolute;left:76.22px;top:640px" class="cls_004"><span class="cls_004">i.
                                Company
                                Name:</span>
                </div>

                <div style="position:absolute;left:282.91px;top:640px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.HealthInsuranceYesCompanyName|upper}}</span>

                </div>
                <div style="position:absolute;left:76.22px;top:670px" class="cls_004"><span class="cls_004">ii. Give
                                Details:</span></div>
                <div style="position:absolute;left:282.91px;top:670px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Give_Company_details|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:700px" class="cls_004"><span class="cls_004">K:</span>
                </div>
                <div style="position:absolute;left:76.22px;top:700px" class="cls_004"><span class="cls_004">
                                Do you have a family Physician:</span>
                </div>
                <div style="position:absolute;left:446.22px;top:700" class="cls_004">
                        {% if bunny.patient_details.Physician == 'yes'%}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">No</span>
                        {% endif %}
                </div>

                <div style="position:absolute;left:48.84px;top:740px" class="cls_004"><span class="cls_004">L:</span>
                </div>
                <div style="position:absolute;left:76.22px;top:740px" class="cls_004"><span class="cls_004">
                                Name of the Family Physician:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:740px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.PhysicianYesPhysicianName|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:770px" class="cls_004"><span class="cls_004">M:</span>
                </div>
                <div style="position:absolute;left:76.22px;top:770px" class="cls_004"><span class="cls_004">Contact
                                number,
                                if any:</span></div>
                <div style="position:absolute;left:282.91px;top:770px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.PhysicianYesPhysicianContactNum|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:800px" class="cls_004"><span class="cls_004">N:</span>
                </div>
                <div style="position:absolute;left:76.22px;top:800px" class="cls_004"><span class="cls_004">Current
                                Address
                                of Insured Patient:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:800px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Address|upper}} {{bunny.patient_details.city|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:830px" class="cls_004"><span class="cls_004">O:</span>
                </div>
                <div style="position:absolute;left:76.22px;top:830px" class="cls_004"><span
                                class="cls_004">Occupation of
                                Insured Patient:</span>
                </div>
                <div style="position:absolute;left:282.91px;top:830px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Occupation|upper}}</span>

                </div>
                <div style="position:absolute;left:160.10px;top:860px" class="cls_004"><span class="cls_004">(PLEASE
                                COMPLETE
                                DECLARATION OF THIS FORM)</span></div>
                <div style="position:absolute;left:159.02px;top:890px" class="cls_014"><span class="cls_014">TO BE
                                FILLED BY
                                TREATING DOCTOR/HOSPITAL</span></div>
                <div style="position:absolute;left:48.84px;top:920px" class="cls_004"><span
                                class="cls_004">A:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Name of the treating Doctor:</span></div>
                <div style="position:absolute;left:260.45px;top:920px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.hospital_details.Treating_Doctor_Name|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:950px" class="cls_004"><span class="cls_004">B:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:950px" class="cls_004"><span class="cls_004">Contact
                                number:</span>
                </div>
                <div style="position:absolute;left:260.45px;top:950px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{hospitaldata.phone|upper}}</span>
                </div>
                <div style="position:absolute;left:487.42px;top:980px" class="cls_002"><span class="cls_002">1 |
                        </span><span class="cls_006">P a g e</span></div>
        </div>
        <div
                style="position:absolute;left:50%;margin-left:-297px;top:1100px;width:594px;height:855px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:410.02px;top:10.10px" class="cls_014">
                        <img src="../static/dist/img/MedSave.png" width="150" alt="" srcset="">
                </div>
                <div style="position:absolute;left:48.84px;top:78.62px" class="cls_004"><span class="cls_004">C:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:78.62px" class="cls_004"><span class="cls_004">Nature of
                                Illness/Disease with presenting complaint: </span>
                </div>
                <div style="position:absolute;left:295.00px;top:78.52px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 240px;">{{bunny.patient_details.Nature_Of_Illness|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:98.90px" class="cls_004"><span class="cls_004">D:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:98.90px" class="cls_004"><span class="cls_004">Relevant
                                Critical
                                Findings:</span>
                </div>
                <div style="position:absolute;left:265.45px;top:98.90px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Relevant_Critical_Findings|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:116.66px" class="cls_004"><span class="cls_004">E:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:116.66px" class="cls_004"><span class="cls_004">Duration
                                of the
                                present ailment</span>
                </div>
                <div style="position:absolute;left:265.45px;top:116.66px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Duration_Of_Present_Ailments|upper}}</span>

                </div>
                <div style="position:absolute;left:75.86px;top:134.54px" class="cls_004"><span class="cls_004">i.</span>
                </div>
                <div style="position:absolute;left:91.18px;top:134.54px" class="cls_004"><span class="cls_004">Date of
                                First
                                consultation:</span>
                </div>
                <div style="position:absolute;left:265.45px;top:134.66px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 200px;">
                                {{bunny.patient_details.Date_Of_First_Consultation.8|upper}}{{bunny.patient_details.Date_Of_First_Consultation.9|upper}}/{{bunny.patient_details.Date_Of_First_Consultation.5|upper}}{{bunny.patient_details.Date_Of_First_Consultation.6|upper}}/{{bunny.patient_details.Date_Of_First_Consultation.0|upper}}{{bunny.patient_details.Date_Of_First_Consultation.1|upper}}{{bunny.patient_details.Date_Of_First_Consultation.2|upper}}{{bunny.patient_details.Date_Of_First_Consultation.3|upper}}

                        </span>

                </div>
                <div style="position:absolute;left:462.45px;top:134.54px" class="cls_004"><span
                                class="cls_004">(DD/MM/YYYY)</span></div>
                <div style="position:absolute;left:75.86px;top:152.42px" class="cls_004"><span class="cls_004">ii. Past
                                history
                                of present ailment, if any</span>
                </div>
                <div style="position:absolute;left:265.45px;top:152.66px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Past_History_Of_Present_Ailments|upper}}</span>

                </div>
                <div style="position:absolute;left:48.84px;top:171.98px" class="cls_004"><span class="cls_004">F:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:171.98px" class="cls_004"><span
                                class="cls_004">Provisional diagnosis:</span>
                </div>
                <div style="position:absolute;left:265.45px;top:171.98px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.Provision_Diagnosis|upper}}</span>

                </div>
                <div style="position:absolute;left:75.86px;top:190.46px" class="cls_004"><span class="cls_004">i. ICD 10
                                code</span>
                </div>
                <div style="position:absolute;left:265.45px;top:190.46px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 270px;">{{bunny.patient_details.ICD_Code_10_PCS|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:209.90px" class="cls_004"><span class="cls_004">G:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:209.90px" class="cls_004"><span class="cls_004">
                                Proposed line of treatment:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:229.34px" class="cls_004"><span class="cls_004">i.</span>
                </div>
                <div style="position:absolute;left:98.42px;top:229.34px" class="cls_004"><span class="cls_004">
                                Medical Management</span>
                </div>
                <div style="position:absolute;left:255.89px;top:230.93px" class="cls_004">
                        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Medical_Managment == "yes" %}
                        <span class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="9px"
                                        src="/static/dist/tick.png"
                                        width="9px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% else %}
                        <span
                                class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:249.05px" class="cls_004"><span
                                class="cls_004">ii.</span></div>
                <div style="position:absolute;left:98.42px;top:249.05px" class="cls_004"><span class="cls_004">Surgical
                                Management</span></div>
                <div style="position:absolute;left:255.89px;top:250.61px" class="cls_004">
                        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Surgical_Managment == 'yes'%}
                        <span class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="9px"
                                        src="/static/dist/tick.png"
                                        width="9px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% else %}
                        <span
                                class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:268.49px" class="cls_004"><span
                                class="cls_004">iii.</span></div>
                <div style="position:absolute;left:98.42px;top:268.49px" class="cls_004"><span class="cls_004">Intensive
                                care</span></div>
                <div style="position:absolute;left:255.89px;top:269.45px" class="cls_004">
                        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Intensive_Care == 'yes' %}
                        <span class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="9px"
                                        src="/static/dist/tick.png"
                                        width="9px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% else %}
                        <span
                                class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:287.93px" class="cls_004"><span
                                class="cls_004">iv.</span></div>
                <div style="position:absolute;left:98.42px;top:287.93px" class="cls_004"><span
                                class="cls_004">Investigation</span></div>
                <div style="position:absolute;left:255.89px;top:288.89px" class="cls_004">
                        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Investigation == 'yes'%}
                        <span class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="9px"
                                        src="/static/dist/tick.png"
                                        width="9px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% else %}
                        <span
                                class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:307.13px" class="cls_004"><span class="cls_004">v.</span>
                </div>
                <div style="position:absolute;left:98.42px;top:307.13px" class="cls_004"><span
                                class="cls_004">Non-allopathic
                                treatment</span></div>
                <div style="position:absolute;left:255.89px;top:308.69px" class="cls_004">
                        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Allopathic_Treatment == 'yes'%}
                        <span class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="9px"
                                        src="/static/dist/tick.png"
                                        width="9px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% else %}
                        <span
                                class="cls_004">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
                        {% endif %}
                </div>

                <div style="position:absolute;left:48.84px;top:327.17px" class="cls_004"><span class="cls_004">H:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:327.17px" class="cls_004"><span class="cls_004">If
                                investigation
                                and/or Medical Management provide details &nbsp;&nbsp;</span>
                        <span class="spanLine" style="width: 180px;"> <span class="cls_004"> &nbsp;&nbsp;&nbsp;
                                        {{bunny.patient_details.If_Investigation_Or_Medical_Management_Provide_Details|upper}}</span>
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:346.73px" class="cls_004"><span class="cls_004">i. Route
                                of Drug
                                Administration</span></div>
                <div style="position:absolute;left:255.89px;top:346.73px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 180px;">{{bunny.patient_details.Route_Of_Drug_Administration|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:365.33px" class="cls_004"><span class="cls_004">I:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:365.33px" class="cls_004"><span class="cls_004">If
                                surgical, name
                                of surgery</span></div>
                <div style="position:absolute;left:255.89px;top:365.33px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 180px;">{{bunny.patient_details.If_Surgical_Name_of_Surgery|upper}}</span>
                </div>
                <div style="position:absolute;left:75.86px;top:383.81px" class="cls_004"><span class="cls_004">i. ICD 10
                                PCS code</span>
                </div>
                <div style="position:absolute;left:255.89px;top:383.81px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 180px;">{{bunny.patient_details.ICD_Code_10_PCS|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:403.39px" class="cls_004"><span class="cls_004">J:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:403.39px" class="cls_004"><span class="cls_004">If other
                                treatment, provide details</span>
                </div>
                <div style="position:absolute;left:255.89px;top:403.39px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 180px;">{{bunny.patient_details.If_Other_Treatment_Provide_Details|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:422.83px" class="cls_004"><span class="cls_004">K:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:422.83px" class="cls_004"><span class="cls_004">How did
                                injury occur</span></div>
                <div style="position:absolute;left:255.89px;top:422.83px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 180px;">{{bunny.patient_details.How_Did_Injury_Occur|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:440.11px" class="cls_004"><span class="cls_004">L:</span>
                </div>
                <div style="position:absolute;left:75.86px;top:440.11px" class="cls_004"><span class="cls_004">In case
                                of
                                accident</span></div>
                <div style="position:absolute;left:75.86px;top:460.03px" class="cls_004"><span class="cls_004">i.</span>
                </div>
                <div style="position:absolute;left:93.86px;top:460.03px" class="cls_004"><span class="cls_004">Is it
                                RTA:</span>
                </div>
                <div style="position:absolute;left:255px;top:460.99px" class="cls_004">
                        {% if bunny.patient_details.In_Case_Of_Accident == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:483.91px" class="cls_004"><span
                                class="cls_004">ii.</span></div>
                <div style="position:absolute;left:93.94px;top:483.91px" class="cls_004"><span class="cls_004">Date of
                                Injury:</span>
                </div>
                <div style="position:absolute;left:255px;top:483.99px" class="cls_004">
                        {% if bunny.hospital_details.DateofInjury %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% endif %}
                </div>

                <div style="position:absolute;left:75.86px;top:507.91px" class="cls_004"><span class="cls_004">iii.
                                Report to
                                Police</span>
                </div>
                <div style="position:absolute;left:255px;top:507.99px" class="cls_004">
                        {% if bunny.patient_details.Reported_To_Police == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% endif %}
                </div>

                <div style="position:absolute;left:75.86px;top:527.19px" class="cls_004"><span class="cls_004">iv. FIR
                                NO</span>
                </div>
                <div style="position:absolute;left:255.89px;top:534.29px" class="cls_004">
                        <span class="cls_004" style="width: 180px;">{{bunny.patient_details.FIR_Number|upper}}</span>
                </div>

                <div style="position:absolute;left:75.86px;top:545.95px" class="cls_004"><span class="cls_004">v. Injury
                                /Disease caused due to substance abuse/alcohol consumption</span></div>
                <div style="position:absolute;left:400.30px;top:543.91px" class="cls_004">
                        {% if bunny.patient_details.Injury_Disease_Caused_Due_To_Substance_Abuse_Alcohol_Consumption_ == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:569.50px" class="cls_004"><span class="cls_004">vi. Test
                                conducted to establish this (if yes, attach report)</span></div>
                <div style="position:absolute;left:400.30px;top:567.46px" class="cls_004">
                        {% if bunny.patient_details.doctor_testAlcohol == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;No</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:48.84px;top:594.70px" class="cls_004"><span class="cls_004">M.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:594.70px" class="cls_004"><span class="cls_004">In case
                                of Maternity</span></div>
                <div style="position:absolute;left:282.91px;top:593px" class="cls_004">
                        {% if bunny.patient_details.G == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">G&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">G&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                        {% if bunny.patient_details.P == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">P&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">P&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                        {% if bunny.patient_details.L == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">L&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">L&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                        {% if bunny.patient_details.A == 'yes' %}
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% else %}
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                </div>
                <div style="position:absolute;left:75.86px;top:618.70px" class="cls_004"><span class="cls_004">i.
                                expected date
                                of Delivery</span>
                </div>

                <div style="position:absolute;left:255.91px;top:620px"><span class="cls_004" style="width: 180px;">
                                {{bunny.hospital_details.ExpectedDateOfDelivery.8|upper}}{{bunny.hospital_details.ExpectedDateOfDelivery.9|upper}}/{{bunny.hospital_details.ExpectedDateOfDelivery.5|upper}}{{bunny.hospital_details.ExpectedDateOfDelivery.6|upper}}/{{bunny.hospital_details.ExpectedDateOfDelivery.0|upper}}{{bunny.hospital_details.ExpectedDateOfDelivery.1|upper}}{{bunny.hospital_details.ExpectedDateOfDelivery.2|upper}}{{bunny.hospital_details.ExpectedDateOfDelivery.3|upper}}&nbsp;&nbsp;(DD/MM/YYYY)</span>
                </div>
                <div style="position:absolute;left:210.41px;top:641.50px" class="cls_014"><span class="cls_014">DETAILS
                                OF PATIENT ADMITTED</span></div>
                <div style="position:absolute;left:48.84px;top:669.34px" class="cls_004"><span class="cls_004">A.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:669.34px" class="cls_004"><span class="cls_004">Date of
                                admission</span>
                </div>
                <div style="position:absolute;left:255.50px;top:668.74px" class="cls_004"><span class="cls_004">
                                {{bunny.hospital_details.Date_of_Admission.8|upper}}{{bunny.hospital_details.Date_of_Admission.9|upper}}/{{bunny.hospital_details.Date_of_Admission.5|upper}}{{bunny.hospital_details.Date_of_Admission.6|upper}}/{{bunny.hospital_details.Date_of_Admission.0|upper}}{{bunny.hospital_details.Date_of_Admission.1|upper}}{{bunny.hospital_details.Date_of_Admission.2|upper}}{{bunny.hospital_details.Date_of_Admission.3|upper}}&nbsp;&nbsp;(DD/MM/YYYY)</span>
                </div>

                <div style="position:absolute;left:48.84px;top:696.70px" class="cls_004"><span class="cls_004">B.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:696.70px" class="cls_004"><span class="cls_004">Time of
                                admission</span>
                </div>
                <div style="position:absolute;left:255.50px;top:696.70px" class="cls_015"><span class="cls_004">
                                {{bunny.hospital_details.admission_time|upper}}&nbsp;&nbsp;(HH : MM)</span></div>
                <div style="position:absolute;left:48.84px;top:724.20px" class="cls_004"><span class="cls_004">C.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:724.20px" class="cls_004"><span class="cls_004">Is this
                                an emergency/planned hospitalization event:</span></div>
                <div style="position:absolute;left:320.91px;top:724.20px" class="cls_004">
                        {% if bunny.patient_details.Type == 'emergency' %}
                        <span class="cls_004">Emergency&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        <span class="cls_004">&nbsp;&nbsp;&nbsp;&nbsp;Planned&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        {% else %}
                        <span class="cls_004">Emergency&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"></span>
                        <span class="cls_004">&nbsp;&nbsp;&nbsp;&nbsp;Planned&nbsp;&nbsp;</span>
                        <span class="spanBox" style="height: 14px; width: 25px;"><img height="9px"
                                        src="/static/dist/tick.png" width="9px"></span>
                        {% endif %}

                </div>
                <div style="position:absolute;left:487.42px;top:791.64px" class="cls_002"><span class="cls_002">2 |
                        </span><span class="cls_006">P a g e</span></div>
        </div>
        <div
                style="position:absolute;left:50%;margin-left:-297px;top:2150px;width:594px;height:855px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:410.02px;top:10.10px" class="cls_014">
                        <img src="../static/dist/img/MedSave.png" width="150" alt="" srcset="">
                </div>
                <div style="position:absolute;left:48.84px;top:105.98px" class="cls_004"><span class="cls_004">D.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:105.98px" class="cls_004"><span class="cls_004">Mandatory
                                Past
                                History of any chronic illness</span></div>
                <div style="position:absolute;left:300.91px;top:104.42px" class="cls_004"><span class="cls_004">if yes
                                (Since
                                month/year)</span></div>
                <div style="position:absolute;left:75.86px;top:126.38px" class="cls_004"><span class="cls_004">i.</span>
                </div>
                <div style="position:absolute;left:93.86px;top:126.38px" class="cls_004"><span
                                class="cls_004">Diabetes</span>
                </div>
                <div style="position:absolute;left:287px;top:126.38px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.MandatoryPastHistoryMonth|upper}}/{{bunny.patient_details.MandatoryPastHistoryYear|upper}}</span>
                </div>
                <div style="position:absolute;left:75.86px;top:144.62px" class="cls_004"><span
                                class="cls_004">ii.</span></div>
                <div style="position:absolute;left:93.94px;top:144.62px" class="cls_004"><span class="cls_004">Heart
                                disease</span></div>
                <div style="position:absolute;left:287px;top:144.62px" class="cls_004">
                        <span class="spanLine"
                                style="width: 110px;">{{bunny.patient_details.HeartDiseaseMonth|upper}}/{{bunny.patient_details.HeartDiseaseYear|upper}}</span>
                </div>
                <div style="position:absolute;left:75.86px;top:162.62px" class="cls_004"><span
                                class="cls_004">iii.</span>
                </div>
                <div style="position:absolute;left:96.70px;top:162.62px" class="cls_004"><span
                                class="cls_004">Hypertension</span></div>
                <div style="position:absolute;left:287px;top:162.62px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.HypertensionMonth|upper}}/{{bunny.patient_details.HypertensionYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:180.98px" class="cls_004"><span
                                class="cls_004">iv.&nbsp;&nbsp;&nbsp;&nbsp;Hyperlipidemias</span></div>
                <div style="position:absolute;left:287px;top:180.98px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.HyperlipidemiasMonth|upper}}/{{bunny.patient_details.HyperlipidemiasYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:199.46px" class="cls_004"><span class="cls_004">
                                v.&nbsp;&nbsp;&nbsp;&nbsp;Osteoarthritis</span></div>
                <div style="position:absolute;left:287px;top:199.46px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.OsteoarthritisMonth|upper}}/{{bunny.patient_details.OsteoarthritisYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:217.34px" class="cls_004"><span class="cls_004">
                                vi.&nbsp;&nbsp;&nbsp;&nbsp;Asthma/COPD/Bronchitis</span></div>
                <div style="position:absolute;left:287;top:217.34px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.AsthmaOrCOPDOrBronchitisMonth|upper}}/{{bunny.patient_details.AsthmaOrCOPDOrBronchitisYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:235.49px" class="cls_004"><span class="cls_004">
                                vii.&nbsp;&nbsp;&nbsp;&nbsp;Cancer</span></div>
                <div style="position:absolute;left:287;top:235.49px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.CancerMonth|upper}}/{{bunny.patient_details.CancerYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:252.89px" class="cls_004"><span class="cls_004">
                                viii.&nbsp;&nbsp;&nbsp;&nbsp;Alcohol/Drug abuse</span></div>
                <div style="position:absolute;left:287;top:252.89px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.AlcoholOrDrugAbuseMonth|upper}}/{{bunny.patient_details.AlcoholOrDrugAbuseYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:271.61px" class="cls_004"><span class="cls_004">
                                ix.&nbsp;&nbsp;&nbsp;&nbsp;Any HIV/or STD Related ailment</span></div>
                <div style="position:absolute;left:287;top:271.61px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.anyHIVOrSTDOrRelatedAlimentsMonth|upper}}/{{bunny.patient_details.anyHIVOrSTDOrRelatedAlimentsYear|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:75.86px;top:290.09px" class="cls_004"><span class="cls_004">
                                x.&nbsp;&nbsp;&nbsp;&nbsp;Any other ailment, give details</span></div>
                <div style="position:absolute;left:287px;top:290.09px" class="cls_004">
                        <span class="spanLine" style="width: 110px;">
                                {{bunny.patient_details.OtherAliments|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:48.84px;top:310.25px" class="cls_004"><span class="cls_004">E.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:310.25px" class="cls_004"><span class="cls_004">Expected
                                number
                                of Days/stay in hospital</span>
                </div>
                <div style="position:absolute;left:287px;top:309.29px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 65px;">
                                {{bunny.hospital_details.Days_In_Hospital|upper}}</span>Days
                </div>
                <div style="position:absolute;left:48.84px;top:330.77px" class="cls_004"><span class="cls_004">F.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:330.77px" class="cls_004"><span class="cls_004">Days in
                                ICU</span></div>
                <div style="position:absolute;left:287;top:329.81px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 65px;">
                                {{bunny.hospital_details.Days_In_ICU|upper}}</span>Days
                </div>
                <div style="position:absolute;left:48.84px;top:349.73px" class="cls_004"><span class="cls_004">G.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:349.73px" class="cls_004"><span class="cls_004">Room
                                Type</span>
                </div>
                <div style="position:absolute;left:287;top:349.73px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 150px;">
                                {{bunny.hospital_details.Room_Type|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:368.81px" class="cls_004"><span class="cls_004">H.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:368.81px" class="cls_004"><span class="cls_004">Per day
                                room rent
                                + nursing and service charges+ patients diet</span>
                </div>
                <div style="position:absolute;left:360.19px;top:368.81px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{chargedata.charge1|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:387.89px" class="cls_004"><span class="cls_004">I.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:387.89px" class="cls_004"><span class="cls_004">Expected
                                cost of
                                investigation + diagnostic</span>
                </div>
                <div style="position:absolute;left:360.19px;top:387.90px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{bunny.hospital_details.Cost_Of_Investigation|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:406.99px" class="cls_004"><span class="cls_004">J.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:406.99px" class="cls_004"><span class="cls_004">ICU
                                charges</span></div>
                <div style="position:absolute;left:360px;top:406.99px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{bunny.hospital_details.ICU_Charges|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:425.83px" class="cls_004"><span class="cls_004">K.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:425.83px" class="cls_004"><span class="cls_004">OT
                                charges</span>
                </div>
                <div style="position:absolute;left:360px;top:425.83px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{bunny.hospital_details.OT_Charges|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:445.27px" class="cls_004"><span class="cls_004">L.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:445.27px" class="cls_004"><span
                                class="cls_004">Professional fees
                                Surgeon +Anesthetist Fees +consultation Charges:</span>
                </div>
                <div style="position:absolute;left:360px;top:445.27px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{chargedata.charge2|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:463.63px" class="cls_004"><span class="cls_004">M.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:463.63px" class="cls_004"><span class="cls_004">Medicines
                                + Consumables + Cost of Implants (if applicable please specify)</span>
                </div>
                <div style="position:absolute;left:360px;top:481.99px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{chargedata.charge3|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:501.67px" class="cls_004"><span class="cls_004">N.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:501.67px" class="cls_004"><span class="cls_004">Other
                                hospital expenses if any</span></div>
                <div style="position:absolute;left:360px;top:501.67px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{bunny.hospital_details.OtherHospitalIfAny|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:520.75px" class="cls_004"><span class="cls_004">0.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:521.71px" class="cls_004"><span
                                class="cls_004">All-inclusive package charges if any applicable</span></div>
                <div style="position:absolute;left:360px;top:520.75px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{bunny.hospital_details.All_Including_Package|upper}}</span>
                </div>
                <div style="position:absolute;left:48.84px;top:539.95px" class="cls_004">
                        <span class="cls_004">P.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:541.51px" class="cls_004"><span class="cls_004">Sum Total
                                expected cost of hospitalization</span></div>
                <div style="position:absolute;left:360px;top:539.95px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 120px;">
                                Rs.&nbsp;{{bunny.hospital_details.total|upper}}</span>
                </div>
                <div style="position:absolute;left:255.29px;top:568.06px" class="cls_014"><span
                                class="cls_014">DECLARATION</span></div>
                <div style="position:absolute;left:234.29px;top:586.78px" class="cls_003"><span class="cls_003">(Please
                                read very carefully)</span></div>
                <div style="position:absolute;left:48.84px;top:605.62px" class="cls_004"><span class="cls_004">We
                                confirm having read understood and agreed to the Declarations of this form</span></div>
                <div style="position:absolute;left:48.84px;top:624.22px" class="cls_004"><span class="cls_004">a.</span>
                </div>
                <div style="position:absolute;left:68.42px;top:624.22px" class="cls_004"><span class="cls_004">
                                Name of the treating doctor</span>
                </div>
                <div style="position:absolute;left:285px;top:624.22px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 170px;">{{bunny.hospital_details.Treating_Doctor_Name|upper}} </span>
                </div>
                <div style="position:absolute;left:48.84px;top:647.86px" class="cls_004"><span class="cls_004">
                                b.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qualification:</span></div>
                <div style="position:absolute;left:285px;top:647.86px" class="cls_004">
                        <span class="spanLine cls_004" style="width: 170px;">{{doctor_details.qualification|upper}}
                        </span>
                </div>
                <div style="position:absolute;left:48.84px;top:675.10px" class="cls_004"><span class="cls_004">c.</span>
                </div>
                <div style="position:absolute;left:68.58px;top:675.10px" class="cls_004"><span
                                class="cls_004">Registration
                                number with State code</span></div>
                <div style="position:absolute;left:285px;top:675.10px" class="cls_004">
                        <span class="spanLine cls_004"
                                style="width: 170px;">{{doctor_details.doctorRegistrationNo|upper}}</span>
                </div>

                <div style="position:absolute;left:70.86px;top:700.96px" class="cls_004">
                        <span class="spanBox cls_004" style="width: 120px; height: 30px;"></span>
                </div>

                <div style="position:absolute;left:75.86px;top:744.96px" class="cls_004"><span class="cls_004">Hospital
                                Seal</span>
                </div>
                <div style="position:absolute;left:320.86px;top:700.96px" class="cls_004">
                        <span class="spanBox cls_004" style="width: 120px; height: 35px;"></span>
                </div>
                <div style="position:absolute;left:300.91px;top:744.96px" class="cls_003">
                        <span
                                class="cls_003">Patient/Insured Name and Sign</span>
                </div>
                <div style="position:absolute;left:75.86px;top:760.68px" class="cls_004"><span class="cls_004">(Must
                                include
                                Hospital ID)</span></div>
                <div style="position:absolute;left:487.42px;top:791.64px" class="cls_002"><span class="cls_002">3 |
                        </span><span class="cls_006">P a g e</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top: 3200px;width:594px;height:855px;border-style:outset;overflow:hidden">
                <!-- <div style="position:absolute;left:0px;top:0px">
                        <img src="da14ab4c-01b1-11ec-a980-0cc47a792c0a_id_da14ab4c-01b1-11ec-a980-0cc47a792c0a_files/background4.jpg"
                                width=594 height=855>
                </div> -->
                <div style="position:absolute;left:410.02px;top:10.10px" class="cls_014">
                        <img src="../static/dist/img/MedSave.png" width="150" alt="" srcset="">
                </div>
                <div style="position:absolute;left:161.45px;top:78.86px" class="cls_014"><span
                                class="cls_014">DECLARATION BY
                                THE PATIENT I REPRESENTATIVE</span></div>
                <div style="position:absolute;left:66.86px;top:98.78px" class="cls_004"><span class="cls_004">a.</span>
                </div>
                <div style="position:absolute;left:84.86px;top:98.78px" class="cls_004"><span class="cls_004">1 agrees
                                to allow
                                the hospital to submit all original documents pertaining to hospitalization to the
                                Insurer/T.P.A</span>
                </div>
                <div style="position:absolute;left:84.86px;top:110.30px" class="cls_004"><span class="cls_004">after the
                                discharge. I agree to sign on the Final Bill & the Discharge Summary, before my
                                discharge.</span></div>
                <div style="position:absolute;left:66.86px;top:123.98px" class="cls_004"><span class="cls_004">b.
                                Payment to
                                hospital is governed by the terms and conditions of the policy. In case the Insurer /TPA
                                is not liable
                                to</span></div>
                <div style="position:absolute;left:84.86px;top:135.50px" class="cls_004"><span class="cls_004">settle
                                the
                                hospital bill, I undertake to settle the bill as per the terms and conditions of the
                                policy.</span>
                </div>
                <div style="position:absolute;left:66.86px;top:150.02px" class="cls_004"><span class="cls_004">c. All
                                non-medical expenses and expenses not relevant to current hospitalization and the
                                amounts over & above
                                the</span></div>
                <div style="position:absolute;left:84.86px;top:161.54px" class="cls_004"><span class="cls_004">limit
                                authorized
                                by the Insurer/T.P.A not governed by the terms and conditions of the policy will be paid
                                by me.</span>
                </div>
                <div style="position:absolute;left:66.86px;top:175.34px" class="cls_004"><span class="cls_004">d. I
                                hereby
                                declare to abide by the terms and conditions of the policy and if at any time the facts
                                disclosed by
                                me</span></div>
                <div style="position:absolute;left:84.86px;top:186.86px" class="cls_004"><span class="cls_004">are found
                                to be
                                false or incorrect I forfeit my claim and agree to indemnify the Insurer / T.P.A</span>
                </div>
                <div style="position:absolute;left:66.86px;top:199.58px" class="cls_004"><span class="cls_004">e. I
                                agree and
                                understand that T.P.A is in no way warranting the service of the hospital & that the
                                Insurer /TPA</span>
                </div>
                <div style="position:absolute;left:84.86px;top:211.10px" class="cls_004"><span class="cls_004">is in no
                                way
                                guaranteeing that the services provided by the hospital will be of a particular quality
                                or
                                standard.</span></div>
                <div style="position:absolute;left:66.86px;top:225.62px" class="cls_004"><span class="cls_004">f.</span>
                </div>
                <div style="position:absolute;left:84.86px;top:225.62px" class="cls_004"><span class="cls_004">I hereby
                                warrant
                                the truth of the forgoing particulars in every respect and I agree that if I have made
                                or shall</span>
                </div>
                <div style="position:absolute;left:84.86px;top:237.05px" class="cls_004"><span class="cls_004">make any
                                false or untrue statement, suppression or concealment with respect to the claim, my right to
                                claim</span></div>
                <div style="position:absolute;left:84.86px;top:248.57px" class="cls_004"><span
                                class="cls_004">reimbursement of the said expenses shall be absolutely forfeited.</span></div>
                <div style="position:absolute;left:66.86px;top:261.41px" class="cls_004"><span class="cls_004">g. I
                                agree to indemnify the hospital against all expenses incurred on my behalf, which are not
                                reimbursed by the</span></div>
                <div style="position:absolute;left:84.86px;top:274.37px" class="cls_004"><span class="cls_004">Insurer /
                                TPA.</span></div>
                <div style="position:absolute;left:66.86px;top:290.33px" class="cls_004"><span class="cls_004">h. "I/We
                                authorize Insurance Company/TPA to contact me/us through mobile/email for any update on
                                thisclaim".</span></div>
                <div style="position:absolute;left:76.22px;top:304.49px" class="cls_004">
                        <span class="cls_004">a)Patient's / Insured's Name:&nbsp;</span>
                        <span class="spanLine cls_004" style="width: 120px;">&nbsp;{{bunny.patient_details.Name|upper}}</span>
                </div>
                <div style="position:absolute;left:76.22px;top:318.17px" class="cls_004"><span class="cls_004">b)
                                Contact number:&nbsp;</span>
                        <span class="spanLine cls_004" style="width: 110px;">&nbsp;{{bunny.patient_details.Phone}}</span>

                </div>
                <div style="position:absolute;left:270.22px;top:318.17px" class="cls_004"><span class="cls_004">
                        c) e-mail Id (optional)&nbsp;</span>
                        <span class="spanLine cls_004" style="width: 150px;">&nbsp;{{bunny.patient_details.Email}}</span>
                </div>

                <div style="position:absolute;left:76.22px;top:331.37px" class="cls_004"><span class="cls_004">d)
                                Patient's / Insured's Signature: ______________________</span>
                </div>
                <div style="position:absolute;left:78.38px;top:345.29px" class="cls_004"><span class="cls_004">Date:
                                ______________________</span></div>
                <div style="position:absolute;left:282.91px;top:345.29px" class="cls_004"><span class="cls_004">Time:
                                ______________________</span></div>
                <div style="position:absolute;left:204.17px;top:364.91px" class="cls_017"><span class="cls_017">HOSPITAL
                                DECLARATION</span></div>
                <div style="position:absolute;left:48.84px;top:388.01px" class="cls_004"><span class="cls_004">a.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:389.42px" class="cls_012"><span class="cls_012">We have
                                no
                                objection to any authorized TPA /Insurance Company official verifying documents
                                pertaining to</span>
                </div>
                <div style="position:absolute;left:75.86px;top:406.60px" class="cls_012"><span
                                class="cls_012">hospitalization.</span></div>
                <div style="position:absolute;left:48.84px;top:425.35px" class="cls_004"><span class="cls_004">b.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:426.91px" class="cls_004"><span class="cls_004">All valid
                                original documents duly countersigned by the insured/patient as per the checklist
                                below</span></div>
                <div style="position:absolute;left:75.86px;top:446.35px" class="cls_004"><span class="cls_004">will be
                                sent to
                                TPA / Insurance Company within 7 days of the patient's discharge.</span></div>
                <div style="position:absolute;left:48.84px;top:465.43px" class="cls_004"><span class="cls_004">c.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:465.43px" class="cls_004"><span class="cls_004">We agree
                                that TPA
                                / Insurance Company will not be liable to make the payment in the between the</span>
                </div>
                <div style="position:absolute;left:75.86px;top:484.15px" class="cls_004"><span class="cls_004">facts in
                                this
                                form and discharge summary or other documents</span></div>
                <div style="position:absolute;left:48.84px;top:501.79px" class="cls_004"><span class="cls_004">d.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:501.79px" class="cls_004"><span class="cls_004">The
                                patient
                                declaration has been signed by the patient or by his representative in our
                                presence.</span></div>
                <div style="position:absolute;left:48.84px;top:518.65px" class="cls_011"><span class="cls_011">e.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:518.65px" class="cls_011"><span class="cls_011">We agree
                                to
                                provide clarifications for the queries raised regarding this hospitalization and</span>
                </div>
                <div style="position:absolute;left:75.86px;top:536.23px" class="cls_011"><span class="cls_011">we take
                                the sole
                        </span><span class="cls_004">responsibility for any delay in offering clarifications</span>
                </div>
                <div style="position:absolute;left:48.84px;top:554.95px" class="cls_004"><span class="cls_004">f.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:554.95px" class="cls_004"><span class="cls_004">We will
                                abide by
                                the terms and conditions agreed in the MOU.</span></div>
                <div style="position:absolute;left:49.80px;top:573.94px" class="cls_004"><span class="cls_004">g.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:573.94px" class="cls_004"><span class="cls_004">We
                                confirm that
                                no additional amount would be collected from the insured in excess of Agreed
                                Package</span></div>
                <div style="position:absolute;left:75.86px;top:591.22px" class="cls_004"><span class="cls_004">Rates
                                except
                                costs towards non-admissible amounts (including additional charges due to opting
                                higher</span></div>
                <div style="position:absolute;left:75.86px;top:608.50px" class="cls_004"><span class="cls_004">room rent
                                than
                                eligibility/choosing separate line of treatment which is not envisaged/considered in
                                package).</span>
                </div>
                <div style="position:absolute;left:51.00px;top:626.98px" class="cls_004"><span class="cls_004">h.</span>
                </div>
                <div style="position:absolute;left:75.86px;top:626.98px" class="cls_004"><span class="cls_004">We
                                confirm that
                                no recoveries would be made from the deposit amount collected from the Insured
                                except</span></div>
                <div style="position:absolute;left:75.86px;top:644.11px" class="cls_004"><span class="cls_004">for costs
                        </span><span class="cls_012">towards non-admissible amounts (including additional charges due to
                                opting
                                higher room rent</span></div>
                <div style="position:absolute;left:75.86px;top:661.39px" class="cls_012"><span class="cls_012">than
                                eligibility/
                        </span><span class="cls_004">choosing separate line of treatment which is not
                                envisaged/considered in
                                package).</span></div>
                <div style="position:absolute;left:51.00px;top:680.02px" class="cls_004"><span class="cls_004">i.</span>
                </div>
                <div style="position:absolute;left:66.57px;top:680.02px" class="cls_004"><span class="cls_004">In the
                                event of
                                unauthorized recovery of any additional amount from the Insured in excess of
                                Agreed</span></div>
                <div style="position:absolute;left:75.86px;top:697.30px" class="cls_004"><span class="cls_004">Package
                                Rates,
                                the authorized TPA /Insurance Company reserves the right to recover the same from us
                                (the</span></div>
                <div style="position:absolute;left:75.86px;top:714.58px" class="cls_004"><span class="cls_004">Network
                                Provider)
                                and/or take necessary action, as provided under the MoU or applicable laws.</span></div>
                <div style="position:absolute;left:68.90px;top:737.04px" class="cls_004"><span class="cls_004">Hospital
                                Seal</span></div>
                <div style="position:absolute;left:370.51px;top:737.04px" class="cls_004"><span class="cls_004">Doctor's
                                Signature</span></div>
                <div style="position:absolute; left:69.14px; top: 780px" class="cls_004"><span
                                class="cls_004">Date:</span>
                </div>
                <div style="position:absolute; left : 372.31px; top:780px" class="cls_004"><span
                                class="cls_004">Time</span>
                </div>
                <div style="position:absolute;left:487.42px;top: 810px" class="cls_002"><span class="cls_002">4 |
                        </span><span class="cls_006">P a g e</span></div>
        </div>
        <script>
                function plzDown() {
                 
          
                  var element = document.getElementById('invoice');
                  html2pdf(element, {
                  margin:       10,
                  filename:     'myfile.pdf',
                  image:        { type: 'jpeg', quality: 0.98 },
                  html2canvas:  { scale: 2, logging: true, dpi: 192, letterRendering: true },
                  jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
                  });
          
                }
          
            </script>
</body>

</html>