<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
    <style type="text/css">
          .spanBox {
        font-size: 8px;
            text-align: center;
            display: inline-block;
            border: 1px solid #444;
            vertical-align: middle;
            line-height: 13px;
            width: 13px;
            height: 13px;
            margin-top: -19px;
            margin-left: -1px;
            margin-top: 2px;
        
      }
        span.cls_004 {
            font-family: Times, serif;
            font-size: 13.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times, serif;
            font-size: 8.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times, serif;
            font-size: 5.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Times, serif;
            font-size: 3.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times, serif;
            font-size: 3.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times, serif;
            font-size: 10.5px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_20 {
            font-family: Times, serif;
            font-size: 10.5px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times, serif;
            font-size: 7.5px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times, serif;
            font-size: 10.5px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times, serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_008 {
            font-family: Times, serif;
            font-size: 7.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_009 {
            font-family: Times, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Times, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Times, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_012 {
            font-family: Times, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        .spanLine {
            font-size: 6.5px;
            display: inline-block;
            border-bottom: 1.2px solid #444;
            vertical-align: middle;
            line-height: 2px;
            width: 10px;
            height: 8px;
            margin-top: 0px;
            margin-left: -4.35px;

        }
        .customTextBox {
            display: inline-block;
            border: 1px solid #444;
            vertical-align: 11px;
            line-height: 20px;
            height: 17px;
            width: 35px;
            font-size: 12px;
        }
        .customTextBox2 {
            display: inline-block;
            border: 1px solid #444;
            vertical-align: 11px;
            /* line-height: 20px; */
            height: 10px;
            width: 20px;
            font-size: 12px;
        }
   
    </style>
    <script type="text/javascript" src="wz_jsgraphics.js"></script>
</head>

<body>
<button id="download" onclick="plzDown()"> Download Form</button>
<div  id="invoice" style="height: 6215px;">
     <div
        style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:971px;border-style:outset;overflow:hidden; border: 15px solid rgb(182, 182, 182);">
        <img src="/static/dist/img/star.png" style="margin-left: 30px; margin-top: 35px;" width="140px">
        <div style="position:absolute;left:165.80px;top:58.48px" class="cls_004"><span class="cls_004">STAR HEALTH AND
                ALLIED INSURANCE COMPANY LIMITED</span></div>
        <div style="position:absolute;left:175.92px;top:72.16px" class="cls_002"><span class="cls_002">Regd. & Corporate
                Office: 1, New Tank Street, Vallover Kottam High Road, Nungambakkam, Chennai - 600 034.</span></div>
       
        <div style="position:absolute;left:175.32px;top:80.56px" class="cls_002"><span class="cls_002">Corporate Office
                - Claims Dept. : No.15, Balaji Complex, Whites Lane, 1st Floor, Royapettah, Chennai - 600 014.</span>
        </div>
        
        <div style="position:absolute;left:240.88px;top:89.48px" class="cls_002"><span class="cls_002">Toll free Phone
                No: 1800 425 2255 Toll free Fax No: 1800 425 5522</span></div>
        <div style="position:absolute;left:165.76px;top:99.96px" class="cls_002"><span class="cls_002">ON
                :1.186010TN2005PLC056044 Emaitcastiess,retwork@slarhealthin </span><span class="cls_006">website:
            </span><span class="cls_002">www,starhealthin IRDAI Regn. No: 129</span></div>
        <div style="width:100%;position:absolute;top:115.76px;background-color:black;text-align:center; height:15px" class="cls_006"><span style="color:white;" class="cls_006">REQUEST FOR
                CASHLESS HOSPITALISATION FOR HEALTH INSURANCE</span></div>
        <div style="position:absolute;left:250.32px;top:135.88px" class="cls_006"><span class="cls_006"><b>POLICY PART —C
                (Revised)</b></span></div>
        <div style="position:absolute;left:401.16px;top:143.64px" class="cls_006"><span class="cls_006"><b>(TO BE FILLED IN
                BLOCK LETTERS)</b></span></div>
        <div style="position:absolute;left:133.24px;top:174.28px" class="cls_006"><span class="cls_20"><b>DETAILS OF THE
                THIRD PARTY ADMINISTRATOR/INSURER/HOSPITAL.:</b></span></div>
        <div style="position:absolute;left:64.80px;top:200px" class="cls_006"><span class="cls_006">a. Name of
                TPA/Insurance company :</span></div>
        <div style="position:absolute;left: 250.76px;top:200px;text-align:center; width:55%;" class="cls_007 spanLine"><span class="cls_007">STAR HEALTH AND
                ALLIED INSURANCE COMPANY LIMITED</span></div>
        <div style="position:absolute;left:65.04px;top:230px" class="cls_006"><span class="cls_006">b. Toll free
                phone number:</span></div>
        <div style="position:absolute;left: 180.76px;top:230px;text-align:center; width:60%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>
        <div style="position:absolute;left:64.80px;top:260px" class="cls_006"><span class="cls_006">c. Toll free
                fax:</span></div>
        <div style="position:absolute;left: 180.76px;top:260px;text-align:center; width:60%;" class="cls_007 spanLine"></div>
        <div style="position:absolute;left:64.80px;top:290px" class="cls_006"><span class="cls_006">d. Name of
                Hospital:</span></div>
        <div style="position:absolute;left: 180.76px;top:290px;text-align:center; width:60%;" class="spanLine cls_007"><span class="cls_007"> {{hospitaldata.name|upper}} </span></div>
        <div style="position:absolute;left:97.20px;top:320px" class="cls_006"><span class="cls_006">i.Address</span>
        </div>
        <div style="position:absolute;left: 180.76px;top:320px;text-align:center; width:60%;" class="spanLine cls_006"><span class=" cls_007">  {{hospitaldata.address|upper}}  </span></div> 
        <div style="position:absolute;left:96.96px;top:340px" class="cls_006"><span class="cls_006">ii.Rohini
                ID</span></div>
        <div style="position:absolute;left: 180.76px;top:340px;text-align:center; width:60%;" class="spanLine cls_006"><span class=" cls_007">   {{hospitaldata.rohini|upper}}  </span></div>

        <div style="position:absolute;left:96.96px;top:360px" class="cls_006"><span class="cls_006">iii.e-mail
                id</span></div>

        <div style="position:absolute;left: 180.76px;top:365px;text-align:center; width:60%;" class="spanLine cls_006"><span class="cls_007">    {{hospitaldata.email|upper}}      </span></div>        
        <div style="position:absolute;left:239.76px;top:400px" class="cls_008"><span class="cls_008">TO BE FILLED BY
                INSURED/PATIENT</span></div>
        <div style="position:absolute;left:64.32px;top:440px" class="cls_006"><span class="cls_006">A.</span></div>
        <div style="position:absolute;left:80.64px;top:440px" class="cls_006"><span class="cls_006">Name of the
                Patient :</span></div>
        <div style="position:absolute;left: 180.76px;top:440px;text-align:center; width:60%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.patient_details.Name|upper}}</span></div>
        
        <div style="position:absolute;left:65.04px;top:480px" class="cls_006"><span class="cls_006">B.</span></div>
        <div style="position:absolute;left:80.40px;top:480px" class="cls_006"><span class="cls_006">Gender:</span>
        </div>
  
         {% if bunny.patient_details.Gender|upper == 'MALE' %}
                 <div style="position:absolute;left:198.40px;top:480px" class="customTextBox cls_006"><span class="cls_006">
                 <img height="9px" style="padding-left:8px;padding-top:3px;" src="/static/dist/tick.png" width="9px">
                 </span>
        </div>
        {% else %}
                
                 <div style="position:absolute;left:198.40px;top:480px" class="customTextBox cls_006"><span class="cls_006"></span>
        </div>

        {% endif %}

        
        <div style="position:absolute;left:239.04px;top:480px" class="cls_006"><span class="cls_006">Male</span>
        </div>

        {% comment %} <span class="spanBox"><img height="9px" src="/static/dist/tick.png" width="9px"></span> {% endcomment %}
        
        


         {% if bunny.patient_details.Gender|upper == 'FEMALE' %}
                 <div style="position:absolute;left:285.40px;top:480px" class="customTextBox cls_006"><span class="cls_006">
                        <img height="9px" style="padding-left:8px;padding-top:3px;" src="/static/dist/tick.png" width="9px">
                 </span>
        </div>
                {% else %}
                <div style="position:absolute;left:285.40px;top:480px" class="customTextBox cls_006"><span class="cls_006"></span>
        </div>
        {% endif %}

        <div style="position:absolute;left:325.92px;top:480px" class="cls_006"><span class="cls_006">Female</span>
        </div>

        

         {% if bunny.patient_details.Gender|upper == 'THIRD GENDER' %}
                <div style="position:absolute;left: 375.40px;top:480px" class="customTextBox cls_006"><span class="cls_006"> <img height="9px" style="padding-left:8px;padding-top:3px;" src="/static/dist/tick.png" width="9px"></span>
        </div>
                {% else %}
               <div style="position:absolute;left: 375.40px;top:480px" class="customTextBox cls_006"><span class="cls_006"></span>
        </div>
        {% endif %}

        <div style="position:absolute;left:416.40px;top:480px" class="cls_006"><span class="cls_006">Third
                Gender</span></div>
        
        
        <div style="position:absolute;left:64.80px;top:530px" class="cls_006"><span class="cls_006">C.</span></div>
        <div style="position:absolute;left:80.40px;top:530px" class="cls_006"><span class="cls_006">Age:</span></div>
        
        <div style="position:absolute;left:180.76px;top:530px;width: 20%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.AgeYear|upper}}/{{bunny.patient_details.AgeMonth|upper}}</span></div>
        
        <div style="position:absolute;left:324.96px;top:530px" class="cls_006"><span class="cls_006">(Years)/
                (Month)</span></div>
        <div style="position:absolute;left:65.04px;top:565px" class="cls_006"><span class="cls_006">D.</span></div>
        <div style="position:absolute;left:80.40px;top:565px" class="cls_006"><span class="cls_006">Date of
                Birth:</span></div>
        <div style="position:absolute;left:180.76px;top:565px;width: 20%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.DOB.8|upper}}{{bunny.patient_details.DOB.9|upper}}/{{bunny.patient_details.DOB.5|upper}}{{bunny.patient_details.DOB.6|upper}}/{{bunny.patient_details.DOB.0|upper}}{{bunny.patient_details.DOB.1|upper}}{{bunny.patient_details.DOB.2|upper}}{{bunny.patient_details.DOB.3|upper}}</span></div>
        
        <div style="position:absolute;left:326.16px;top:565px" class="cls_006"><span
                class="cls_006">(DD/MM/YYYY)</span></div>
        <div style="position:absolute;left:65.04px;top:600px" class="cls_006"><span class="cls_006">E.</span></div>
        <div style="position:absolute;left:80.40px;top:600px" class="cls_006"><span class="cls_006">Contact
                number:</span></div>

        <div style="position:absolute;left:250.76px;top:600px;width: 20%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.Phone|upper}}</span></div>
        
        <div style="position:absolute;left:65.04px;top:630px" class="cls_006"><span class="cls_006">F.</span></div>
        <div style="position:absolute;left:79.92px;top:630px" class="cls_006"><span class="cls_006">Contact number of
                attending Relative:</span></div>

         <div style="position:absolute;left:250.76px;top:630px;width: 20%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.Attending_Relative_Number|upper}}</span></div>
       

        <div style="position:absolute;left:64.80px;top:660px" class="cls_006"><span class="cls_006">G.</span></div>
        <div style="position:absolute;left:80.40px;top:660px" class="cls_006"><span class="cls_006">Insured Card ID
                number:</span></div>
        
         <div style="position:absolute;left:250.76px;top:660px;width: 20%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.Health_Id|upper}}</span></div>
       

        <div style="position:absolute;left:65.04px;top:690px" class="cls_006"><span class="cls_006">H.</span></div>
        <div style="position:absolute;left:80.64px;top:690px" class="cls_006"><span class="cls_006">Policy
                number/Name of Corporate:</span></div>

         <div style="position:absolute;left:250.76px;top:690px;width: 30%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.Policy_Id|upper}}</span></div>
       


        <div style="position:absolute;left:65.04px;top:720px" class="cls_006"><span class="cls_006">I.</span></div>
        <div style="position:absolute;left:80.40px;top:720px" class="cls_006"><span class="cls_006">Employee ID
                :</span></div>

                <div style="position:absolute;left:250.76px;top:720px;width: 20%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.EmployeeId|upper}}</span></div>
        

        <div style="position:absolute;left:64.80px;top:748px" class="cls_006"><span class="cls_006">J.</span></div>
        <div style="position:absolute;left:80.40px;top:748px" class="cls_006"><span class="cls_006">Currently do you
                have any other mediclaim / health insurance:</span></div>
        
        {% if bunny.patient_details.patient_details_HealthInsurance == 'yes' %}
        
        <div style="position:absolute;left:369.76px;top:750px" class="cls_006"><span class="cls_007">Yes</span></div>
     
        <div style="position:absolute;left: 390.40px;top: 745px" class="customTextBox cls_006"><span class="cls_007">&nbsp;&nbsp;&nbsp;&nbsp;<img height="9px" src="/static/dist/tick.png" width="9px"></span>
        </div>


     
        <div style="position:absolute;left: 450.76px;top:750px" class="cls_006"><span class="cls_007">No</span></div>

        <div style="position:absolute;left: 470.40px;top: 745px" class="customTextBox cls_006"><span class="cls_007"></span>
        </div>

     
     
        {% else %}
        <div style="position:absolute;left:369.76px;top:750px" class="cls_006"><span class="cls_007">Yes</span></div>
        <div style="position:absolute;left: 390.40px;top: 745px" class="customTextBox cls_006"><span class="cls_007"></span>
        </div>


        <div style="position:absolute;left: 450.76px;top:750px" class="cls_006"><span class="cls_007">No</span></div>

        <div style="position:absolute;left: 470.40px;top: 745px" class="customTextBox cls_006"><span class="cls_007"> &nbsp;&nbsp;&nbsp;&nbsp; <img height="9px" src="/static/dist/tick.png" width="9px"></span>
        </div>


        {% endif %}

        <div style="position:absolute;left:99.84px;top:785px" class="cls_006"><span class="cls_006">i.Company
                Name:</span></div>

         <div style="position:absolute;left:250.76px;top:785px;width: 50%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.HealthInsuranceYesCompanyName|upper}}</span></div>
          

        <div style="position:absolute;left:99.84px;top:810px" class="cls_006"><span class="cls_006">ii.Give
                Details:</span></div>

        <div style="position:absolute;left:250.76px;top:810px;width: 50%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.Give_Company_details|upper}}</span></div>
         

        <div style="position:absolute;left:65.04px;top:825px" class="cls_006"><span class="cls_006">K.</span></div>
        <div style="position:absolute;left:80.64px;top:825px" class="cls_006"><span class="cls_006">Do you have a
                family Physician:</span></div>
                {% if bunny.patient_details.Physician == 'yes'%}
         <div style="position:absolute;left: 300.40px;top: 825px" class="customTextBox cls_006"><span class="cls_007">&nbsp;&nbsp;&nbsp;&nbsp; <img height="9px" src="/static/dist/tick.png" width="9px"></span>
        </div>

        <div style="position:absolute;left:347.76px;top: 825px" class="cls_006"><span class="cls_007">Yes</span></div>

        <div style="position:absolute;left: 367.40px;top: 825px" class="customTextBox cls_006"><span class="cls_007"></span>
        </div>

        <div style="position:absolute;left: 412.76px;top: 825px" class="cls_006"><span class="cls_007">No</span></div>
        {% else %}
                 <div style="position:absolute;left: 300.40px;top: 825px" class="customTextBox cls_006"><span class="cls_007"></span>
        </div>
                <div style="position:absolute;left:347.76px;top: 825px" class="cls_006"><span class="cls_007">Yes</span></div>

        <div style="position:absolute;left: 367.40px;top: 825px" class="customTextBox cls_006"><span class="cls_007">&nbsp;&nbsp;&nbsp;&nbsp; <img height="9px" src="/static/dist/tick.png" width="9px"></span>
        </div>

        <div style="position:absolute;left: 412.76px;top: 825px" class="cls_006"><span class="cls_007">No</span></div>
        {% endif %}


        <div style="position:absolute;left:65.04px;top:850px" class="cls_006"><span class="cls_006">L.</span></div>
        <div style="position:absolute;left:80.40px;top:850px" class="cls_006"><span class="cls_006">Name of the
                family Physician:</span></div>

        <div style="position:absolute;left:250.76px;top:852px;width: 50%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.PhysicianYesPhysicianName|upper}}</span></div>
       


        <div style="position:absolute;left:65.04px;top:875px" class="cls_006"><span class="cls_006">M.</span></div>
        <div style="position:absolute;left:80.40px;top:875px" class="cls_006"><span class="cls_006">Contact number,
                if any</span></div>

         <div style="position:absolute;left:250.76px;top:875px;width: 50%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.PhysicianYesPhysicianContactNum|upper}}</span></div>
       


        <div style="position:absolute;left:65.04px;top:895px" class="cls_006"><span class="cls_006">N.</span></div>
        <div style="position:absolute;left:79.68px;top:895px" class="cls_006"><span class="cls_006">Current Address
                of Insured Patient:</span></div>
        
          <div style="position:absolute;left:250.76px;top:895px;width: 50%;text-align:center;" class="spanLine cls_006"><span class="cls_007">{{bunny.patient_details.Address|upper}}, {{bunny.patient_details.city|upper}}</span></div>
       
        <div style="position:absolute;left:65.04px;top:920px" class="cls_006"><span class="cls_006">O.</span></div>

        <div style="position:absolute;left:79.68px;top:920px" class="cls_006"><span class="cls_006">Occupation
                of Insured Patient:</span></div>
        
        <div style="position:absolute;left:250.76px;top:920px;width: 50%;text-align:center;" class="spanLine cls_006"><span class="cls_006" style="font-weight:bold;">{{bunny.patient_details.Occupation|upper}}</span></div>
       
        <div style="position:absolute;left:313.44px;top:940px" class="cls_006"><span class="cls_006">(PLEASE COMPLETE
                DECLARATION OF THIS FORM)</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:1051px;width:595px;height:971px;border-style:outset;overflow:hidden; border: 15px solid rgb(182, 182, 182);">
        <div style="position:absolute;left:192.72px;top:75.68px" class="cls_009"><span class="cls_009">TO BE FILLED BY
                TREATING DOCTOR/HOSPITAL</span></div>

         <div style="position:absolute;left:192.72px;top:75.68px" class="cls_009"><span class="cls_009">TO BE FILLED BY
                TREATING DOCTOR/HOSPITAL</span></div>
        


        <div style="position:absolute;left:73.68px;top:116.12px" class="cls_006"><span class="cls_006">A.</span></div>
        <div style="position:absolute;left:98.64px;top:116.12px" class="cls_006"><span class="cls_006">Name of the
                treating Doctor:</span></div>

        <div style="position:absolute;left: 259.76px;top:116.12px;text-align:center; width: 52%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.hospital_details.Treating_Doctor_Name|upper}} </span></div>

        <div style="position:absolute;left:74.40px;top:141.08px" class="cls_006"><span class="cls_006">B.</span></div>
        <div style="position:absolute;left:98.64px;top:141.08px" class="cls_006"><span class="cls_006">Contact
                number::</span></div>
                
        <div style="position:absolute;left: 259.76px;top:141.08px;text-align:center; width: 52%;" class="cls_007 spanLine"><span class="cls_007"> {{hospitaldata.phone|upper}}  </span></div>



        <div style="position:absolute;left:74.16px;top:166.04px" class="cls_006"><span class="cls_006">C.</span></div>
        <div style="position:absolute;left:98.64px;top:166.04px" class="cls_006"><span class="cls_006">Nature of
                illness/Disease with presenting complaint :</span></div>
        

        <div style="position:absolute;left: 330.76px;top:166.04px;text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Nature_Of_Illness}} </span></div>



        <div style="position:absolute;left:74.40px;top:191.00px" class="cls_006"><span class="cls_006">D.</span></div>
        <div style="position:absolute;left:98.88px;top:191.00px" class="cls_006"><span class="cls_006">Relevant Critical
                Findings:</span></div>

          <div style="position:absolute;left: 259.76px;top:191.00px;text-align:center; width: 52%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Relevant_Critical_Findings}}  </span></div>



        <div style="position:absolute;left:74.40px;top:215.96px" class="cls_006"><span class="cls_006">E.</span></div>
        <div style="position:absolute;left:98.88px;top:215.96px" class="cls_006"><span class="cls_006">Duration of the
                present ailment</span></div>

         <div style="position:absolute;left: 259.76px;top:215.96px;text-align:center; width: 52%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Duration_Of_Present_Ailments|upper}} </span></div>


       
        <div style="position:absolute;left:131.28px;top:240.92px" class="cls_006"><span class="cls_006">iv.</span></div>
        <div style="position:absolute;left:150.24px;top:240.92px" class="cls_006"><span class="cls_006">Date of First
                consultation</span></div>

        <div style="position:absolute;left: 259.76px;top:240.92px;text-align:center; width: 28%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Date_Of_First_Consultation.8}}{{bunny.patient_details.Date_Of_First_Consultation.9}}/{{bunny.patient_details.Date_Of_First_Consultation.5}}{{bunny.patient_details.Date_Of_First_Consultation.6}}/{{bunny.patient_details.Date_Of_First_Consultation.0}}{{bunny.patient_details.Date_Of_First_Consultation.1}}{{bunny.patient_details.Date_Of_First_Consultation.2}}{{bunny.patient_details.Date_Of_First_Consultation.3}} </span></div>


        <div style="position:absolute;left:427.20px;top:240.92px" class="cls_006"><span
                class="cls_006">(DD/MM/YYYY)</span></div>
        <div style="position:absolute;left:130.80px;top:266.12px" class="cls_006"><span class="cls_006">v.</span></div>
        <div style="position:absolute;left:150.72px;top:265.88px" class="cls_006"><span class="cls_006">Past history of
                present ailment, if any</span></div>

         <div style="position:absolute;left: 320.76px;top:264.88px;text-align:center; width: 42%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Past_History_Of_Present_Ailments|upper}} </span></div>



        <div style="position:absolute;left:74.40px;top:291.08px" class="cls_006"><span class="cls_006">F.</span></div>
        <div style="position:absolute;left:98.88px;top:291.08px" class="cls_006"><span class="cls_006">Provisional
                diagnosis:</span></div>
        <div style="position:absolute;left: 248.76px;top:291.56px;text-align:center; width: 54%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Provision_Diagnosis|upper}} </span></div>

        <div style="position:absolute;left:169.20px;top:308.56px" class="cls_006"><span class="cls_006">ICD 10
                code</span></div>


         <div style="position:absolute;left: 259.76px;top:308.56px;text-align:center; width: 28%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.ICD_Code|upper}} </span></div>



        <div style="position:absolute;left:74.16px;top:328.76px" class="cls_006"><span class="cls_006">G.</span></div>
        <div style="position:absolute;left:98.88px;top:328.52px" class="cls_006"><span class="cls_006">Proposed line of
                treatment:</span></div>
        <div style="position:absolute;left:162.72px;top:340.00px" class="cls_010"><span class="cls_010">I.</span></div>
        <div style="position:absolute;left:200.16px;top:341.24px" class="cls_006"><span class="cls_006">Medical
                Management</span></div>
        
        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Medical_Managment == 'yes' %}
        <div style="position:absolute;left: 259.76px;top:341.24px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  <img height="9px" src="/static/dist/tick.png" width="9px"> ) </span></div>
        {% else %}
        <div style="position:absolute;left: 259.76px;top:341.24px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  &nbsp; &nbsp; ) </span></div>
        {% endif %}



        <div style="position:absolute;left:162.72px;top:352.72px" class="cls_010"><span class="cls_010">II.</span></div>
        <div style="position:absolute;left:199.92px;top:353.72px" class="cls_006"><span class="cls_006">Surgical
                Management</span></div>
        
          {% if bunny.patient_details.doctor_proposedLineOfTreatment_Surgical_Managment == 'yes'%}
            <div style="position:absolute;left: 259.76px;top:353.72px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  <img height="9px" src="/static/dist/tick.png" width="9px"> ) </span></div>
        {% else %}
        <div style="position:absolute;left: 259.76px;top:353.72px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  &nbsp; &nbsp; ) </span></div>
        {% endif %}


        <div style="position:absolute;left:162.72px;top:365.20px" class="cls_010"><span class="cls_010">III.</span>
        </div>



        <div style="position:absolute;left:200.40px;top:366.20px" class="cls_006"><span class="cls_006">Intensive
                care</span></div>
         {% if bunny.patient_details.doctor_proposedLineOfTreatment_Intensive_Care == 'yes'%}
           <div style="position:absolute;left: 259.76px;top:366.20px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  <img height="9px" src="/static/dist/tick.png" width="9px">  ) </span></div>
         {% else %}
        <div style="position:absolute;left: 259.76px;top:366.20px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  &nbsp; &nbsp; ) </span></div>
        {% endif %}


        <div style="position:absolute;left:162.72px;top:378.68px" class="cls_006"><span class="cls_006">IV.</span></div>
        <div style="position:absolute;left:200.40px;top:378.68px" class="cls_006"><span
                class="cls_006">Investigation</span></div>
        {% if bunny.patient_details.doctor_proposedLineOfTreatment_Investigation == 'yes'%}
        <div style="position:absolute;left: 259.76px;top:378.68px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  <img height="9px" src="/static/dist/tick.png" width="9px">) </span></div>
        {% else %}
        <div style="position:absolute;left: 259.76px;top:378.68px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  &nbsp; &nbsp; ) </span></div>
        {% endif %}


        <div style="position:absolute;left:162.00px;top:391.16px" class="cls_006"><span class="cls_006">V.</span></div>
        <div style="position:absolute;left:200.16px;top:391.16px" class="cls_006"><span class="cls_006">Non-allopathic
                treatment</span></div>

         {% if bunny.patient_details.doctor_proposedLineOfTreatment_Allopathic_Treatment == 'yes'%}
          <div style="position:absolute;left: 259.76px;top:391.16px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  ( <img height="9px" src="/static/dist/tick.png" width="9px">) </span></div>
         {% else %}

        <div style="position:absolute;left: 259.76px;top:391.16px;text-align:center; width: 28%;" class="cls_007"><span class="cls_007">  (  &nbsp; &nbsp; ) </span></div>
        {% endif %}



        <div style="position:absolute;left:74.40px;top:428.60px" class="cls_006"><span class="cls_006">H.</span></div>
        <div style="position:absolute;left:98.88px;top:428.60px" class="cls_006"><span class="cls_006">If investigation
                and/or Medical Management, provide details:</span></div>
        <div style="position:absolute;left:175.44px;top:453.56px" class="cls_006"><span class="cls_006">i.</span></div>
        <div style="position:absolute;left:200.16px;top:453.56px" class="cls_006"><span class="cls_006">Route of Drug
                Administration</span></div>


        <div style="position:absolute;left: 340.76px;top:456.56px;text-align:center; width: 33%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.Route_Of_Drug_Administration|upper}} </span></div>




        <div style="position:absolute;left:74.40px;top:477.52px" class="cls_010"><span class="cls_010">I.</span></div>
        <div style="position:absolute;left:98.64px;top:478.52px" class="cls_006"><span class="cls_006">If surgical, name
                of surgery:</span></div>
        <div style="position:absolute;left: 300.76px;top:478.52px;text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.If_Surgical_Name_of_Surgery|upper}} </span></div>

        <div style="position:absolute;left:175.60px;top:497.00px" class="cls_010"><span class="cls_010">i.</span></div>
        <div style="position:absolute;left:200.40px;top:495.00px" class="cls_006"><span class="cls_006">ICD 10 PCS
                code</span></div>

        <div style="position:absolute;left: 300.76px;top:495.00px;text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.ICD_Code_10_PCS|upper}} </span></div>


        <div style="position:absolute;left:73.92px;top:525px" class="cls_006"><span class="cls_006">J.</span></div>
        <div style="position:absolute;left:98.88px;top:525px" class="cls_006"><span class="cls_006">If other
                treatment, provide details:</span></div>

         <div style="position:absolute;left: 259.76px;top:525px;text-align:center; width: 50%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.If_Other_Treatment_Provide_Details|upper}} </span></div>



        <div style="position:absolute;left:74.16px;top:560px" class="cls_006"><span class="cls_006">K.</span></div>
        <div style="position:absolute;left:98.88px;top:560px" class="cls_006"><span class="cls_006">How did injury
                occur:</span></div>

        <div style="position:absolute;left: 259.76px;top:560px;text-align:center; width: 50%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.How_Did_Injury_Occur|upper}} </span></div>



        <div style="position:absolute;left:74.40px;top:600px" class="cls_006"><span class="cls_006">L.</span></div>
        <div style="position:absolute;left:98.64px;top:600px" class="cls_006"><span class="cls_006">In case of
                accident:</span></div>

       


        <div style="position:absolute;left:189.60px;top:620px" class="cls_006"><span class="cls_006">i. Is it
                RTA?</span>
                
        </div>
        <div style="position:absolute;left: 430.76px;top: 620px" class="cls_006"><span class="cls_006">Yes</span>
                {% if bunny.patient_details.In_Case_Of_Accident == 'yes' %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                {% endif %}
        </div>


        <div style="position:absolute;left:189.60px;top:640px" class="cls_006"><span class="cls_006">ii. Date of
                injury</span> 
                <span style="margin-left: 76px;
                font-size: 11px;">{{bunny.patient_details.Date_Of_Injury}}</span>
        </div>
        <div style="position:absolute;left: 430.76px;top: 640px" class="cls_006"><span class="cls_006">Yes</span>
                {% if bunny.hospital_details.DateofInjury != "" %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <!-- <img height="9px" src="/static/dist/tick.png" width="9px"> -->
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                {% endif %}

        </div>
        

        <div style="position:absolute;left:189.60px;top:660px" class="cls_006"><span class="cls_006">iii. Report to
                Police</span></div>
        <div style="position:absolute;left: 430.76px;top: 660px" class="cls_006"><span class="cls_006">Yes</span>
                 {% if bunny.patient_details.Reported_To_Police == "yes" %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                {% endif %}

        </div>

        

        <div style="position:absolute;left:189.60px;top:680px" class="cls_006"><span class="cls_006">iv. FIR
                NO</span>
                <span style="margin-left: 99px;
                font-size: 11px;">{{bunny.patient_details.FIR_Number}}</span>
        </div>
        
        <div style="position:absolute;left: 430.76px;top: 680px" class="cls_006"><span class="cls_006">Yes</span>
              
                {% if bunny.patient_details.Reported_To_Police == "yes" %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                {% endif %}

        </div>

        
        <div style="position:absolute;left:189.36px;top:700px" class="cls_006"><span class="cls_006">v.
                Injury/Disease caused due to substance</span></div>

        <div style="position:absolute;left: 430.76px;top: 700px" class="cls_006"><span class="cls_006">Yes</span>
                 {% if bunny.patient_details.Injury_Disease_Caused_Due_To_Substance_Abuse_Alcohol_Consumption_ == 'yes' %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                 {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                 {% endif %}

        </div>

        <div style="position:absolute;left:189.36px;top:720px" class="cls_006"><span class="cls_006">vi.
                abuse/alcohol consumption</span></div>


        <div style="position:absolute;left: 430.76px;top: 720px" class="cls_006"><span class="cls_006">Yes</span>
                 {% if bunny.patient_details.Injury_Disease_Caused_Due_To_Substance_Abuse_Alcohol_Consumption_ == 'yes' %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                 {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                 {% endif %}
        </div>

        <div style="position:absolute;left:189.36px;top:740px" class="cls_006"><span class="cls_006">vii.Test
                conducted to establish this (if yes, attach report)</span></div>

        <div style="position:absolute;left: 430.76px;top: 740px" class="cls_006"><span class="cls_006">Yes</span>
                 {% if bunny.patient_details.doctor_testAlcohol == 'yes' %}
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                 {% else %}
                <span class="spanBox" style="width: 25px; height: 10px;"></span> 
                <span style="margin-left: 37px;">No</span>
                <span class="spanBox" style="width: 25px; height: 10px;"><img height="9px" src="/static/dist/tick.png" width="9px"></span>                  
                 {% endif %}

        </div>


        <div style="position:absolute;left:74.40px;top:762px" class="cls_006"><span class="cls_006">M.</span></div>
        <div style="position:absolute;left:101.04px;top:762px" class="cls_006"><span class="cls_006">In case of
                Maternity:</span></div>
        <div style="position:absolute;left:124.56px;top:792.28px" class="cls_006"><span class="cls_006">I. expected date
                of Delivery</span></div>


        <div style="position:absolute;left: 259.76px;top: 792.28px;text-align:center; width: 20%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.ExpectedDateOfDelivery.8}}{{bunny.hospital_details.ExpectedDateOfDelivery.9}}/{{bunny.hospital_details.ExpectedDateOfDelivery.5}}{{bunny.hospital_details.ExpectedDateOfDelivery.6}}/{{bunny.hospital_details.ExpectedDateOfDelivery.0}}{{bunny.hospital_details.ExpectedDateOfDelivery.1}}{{bunny.hospital_details.ExpectedDateOfDelivery.2}}{{bunny.hospital_details.ExpectedDateOfDelivery.3}} </span></div>



        <div style="position:absolute;left:374.88px;top:792.28px" class="cls_006"><span
                class="cls_006">(DD/MM/YYYY)</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:2102px;width:595px;height:971px;border-style:outset;overflow:hidden; border: 15px solid rgb(182, 182, 182);">
        <div style="position:absolute;left:228.48px;top:74.96px" class="cls_009"><span class="cls_009">DETAILS OF
                PATIENT ADMITTED</span></div>

        <div style="position:absolute;left:64.80px;top: 140px" class="cls_006"><span class="cls_006">A. Date of Admission:</span></div>

        <div style="position:absolute;left:300.80px;top: 140px" class="cls_006"><span class="cls_006">(DD/MM/YY)</span></div>

         <div style="position:absolute;left: 370.80px;top: 140.28px;text-align:center; width: 18%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.Date_of_Admission.8}}{{bunny.hospital_details.Date_of_Admission.9}}/{{bunny.hospital_details.Date_of_Admission.5}}{{bunny.hospital_details.Date_of_Admission.6}}/{{bunny.hospital_details.Date_of_Admission.0}}{{bunny.hospital_details.Date_of_Admission.1}}{{bunny.hospital_details.Date_of_Admission.2}}{{bunny.hospital_details.Date_of_Admission.3}} </span></div>
        

         <div style="position:absolute;left:300.80px;top: 160px" class="cls_006"><span class="cls_006">(HH:MM)</span></div>


        <div style="position:absolute;left:64.80px;top: 160px" class="cls_006"><span class="cls_006">B. Time of Admission:</span></div>


        <div style="position:absolute;left: 350.80px;top: 160px;text-align:center; width: 20%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.hospital_details.admission_time|upper}} </span></div>
        


        <div style="position:absolute;left:64.80px;top: 180px" class="cls_006"><span class="cls_006">C. In this Emergency/planned hospitalization event:</span></div>
        
                {% if bunny.patient_details.Type == "emergency" %}
                <div style="position:absolute;left: 360.76px;top: 180px" class="customTextBox2 cls_006"><span class="cls_006"><img height="9px" src="/static/dist/tick.png" width="9px" style="margin-left:5px"></span></div> 
                {% else %}
                <div style="position:absolute;left: 360.76px;top: 180px" class="customTextBox2 cls_006"><span class="cls_006"></span></div> 
                
        {% endif %}    

        


        <div style="position:absolute;left: 300.76px;top: 180px" class="cls_006"><span class="cls_006">Emergency</span></div>

        

        <div style="position:absolute;left: 400.76px;top: 180px" class="cls_006"><span class="cls_006">Planned</span></div>

                {% if bunny.patient_details.Type == "planned" %}

                <div style="position:absolute;left: 450.76px;top: 180px" class="customTextBox2 cls_006"><span class="cls_006"><img height="9px" src="/static/dist/tick.png" width="9px" style="margin-left:5px"></span>
                </div>
                
                {% else %}
                <div style="position:absolute;left: 450.76px;top: 180px" class="customTextBox2 cls_006"><span class="cls_006"></span></div> 
                
        {% endif %}  

        
        <div style="position:absolute;left:64.80px;top: 200px" class="cls_006"><span class="cls_006">D. Mandatory Past History of any chronic Illness:</span></div>
       
        <div style="position:absolute;left:130.80px;top: 215px" class="cls_006"><span class="cls_006">i. Diabetes </span></div>

         <div style="position:absolute;left: 259.76px;top:215px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.MandatoryPastHistoryMonth|upper}}/{{bunny.patient_details.MandatoryPastHistoryYear|upper}} </span></div>

       
       
        <div style="position:absolute;left:130.80px;top: 230px" class="cls_006"><span class="cls_006">ii. Heart disease </span></div>
        <div style="position:absolute;left: 259.76px;top:230px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.HeartDiseaseMonth|upper}}/{{bunny.patient_details.HeartDiseaseYear|upper}} </span></div>

                                                                                                         
                                                                                                        
                                                                                                        
                                                                                                   

        <div style="position:absolute;left:130.80px;top: 245px" class="cls_006"><span class="cls_006">iii. Osteoarthritis </span></div>
        <div style="position:absolute;left: 259.76px;top:245px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.OsteoarthritisMonth|upper}}/ {{bunny.patient_details.OsteoarthritisYear|upper}} </span></div>


        <div style="position:absolute;left:130.80px;top: 260px" class="cls_006"><span class="cls_006">iv. Asthma/COPD/Bronchitis </span></div>
                <div style="position:absolute;left: 259.76px;top:260px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.AsthmaOrCOPDOrBronchitisMonth|upper}}/{{bunny.patient_details.AsthmaOrCOPDOrBronchitisYear|upper}}  </span></div>


        <div style="position:absolute;left:130.80px;top: 275px" class="cls_006"><span class="cls_006">v. Cancer </span></div>
        <div style="position:absolute;left: 259.76px;top:275px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.CancerMonth|upper}}/ {{bunny.patient_details.CancerYear|upper}} </span></div>


        <div style="position:absolute;left:130.80px;top: 290px" class="cls_006"><span class="cls_006">vi. Alcohol/Drug abuse </span></div>
        <div style="position:absolute;left: 259.76px;top:290px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">   {{bunny.patient_details.AlcoholOrDrugAbuseMonth|upper}}/{{bunny.patient_details.AlcoholOrDrugAbuseYear|upper}} </span></div>


        <div style="position:absolute;left:130.80px;top: 305px" class="cls_006"><span class="cls_006">vii. Any HIV or STD Related ailment </span></div>
        <div style="position:absolute;left: 307.76px;top: 305px;text-align:center; width: 37%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.anyHIVOrSTDOrRelatedAlimentsMonth|upper}}/{{bunny.patient_details.anyHIVOrSTDOrRelatedAlimentsYear|upper}} </span></div>


        <div style="position:absolute;left:130.80px;top: 320px" class="cls_006"><span class="cls_006">viii. Rheumatoid Arthritis </span></div>
        <div style="position:absolute;left: 259.76px;top: 320px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>



        <div style="position:absolute;left:130.80px;top: 335px" class="cls_006"><span class="cls_006">ix. Cerebrovascular Accident(Stroke) </span></div>
        <div style="position:absolute;left: 300.76px;top: 335px;text-align:center; width: 38%;" class="cls_007 spanLine"><span class="cls_007">   </span></div>


        <div style="position:absolute;left:130.80px;top: 350px" class="cls_006"><span class="cls_006">x. Liver Disease </span></div>
        <div style="position:absolute;left: 259.76px;top: 350px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>


        <div style="position:absolute;left:130.80px;top: 365px" class="cls_006"><span class="cls_006">xi. Kidney Disease </span></div>
        <div style="position:absolute;left: 259.76px;top: 365px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>


        <div style="position:absolute;left:130.80px;top: 380px" class="cls_006"><span class="cls_006">xii. Any other ailment,give reason </span></div>
        <div style="position:absolute;left: 288.76px;top: 380px;text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.patient_details.OtherAliments|upper}} </span></div>


        <div style="position:absolute;left:70.08px;top:440px" class="cls_006"><span class="cls_006">E.</span></div>
        <div style="position:absolute;left:94.56px;top:440px" class="cls_006"><span class="cls_006">Expected number
                of Days/Stay in hospital :</span></div>
         <div style="position:absolute;left: 290.80px;top: 440px;text-align:center; width: 15%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.Days_In_Hospital|upper}} </span></div>
       
        <div style="position:absolute;left:384.96px;top:440px" class="cls_006"><span class="cls_006">Days</span>
        </div>
        <div style="position:absolute;left:70.08px;top:470px" class="cls_006"><span class="cls_006">F.</span></div>
        <div style="position:absolute;left:94.56px;top:470px" class="cls_006"><span class="cls_006">Level / Grade of
                Surgery:</span></div>
        <div style="position:absolute;left: 259.80px;top: 470px;text-align:center; width: 40%;" class="cls_007 spanLine"><span class="cls_007">   </span></div>
       
        <div style="position:absolute;left:70.08px;top:500px" class="cls_006"><span class="cls_006">G.</span></div>
        <div style="position:absolute;left:94.56px;top:500px" class="cls_006"><span class="cls_006">Days in
                ICU:</span></div>

        <div style="position:absolute;left: 259.80px;top: 500px;text-align:center; width: 20%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.Days_In_ICU|upper}} </span></div>
       

        <div style="position:absolute;left:388.08px;top:500px" class="cls_006"><span class="cls_006">Days</span>
        </div>
        <div style="position:absolute;left:70.08px;top:530px" class="cls_006"><span class="cls_006">H.</span></div>
        <div style="position:absolute;left:94.56px;top:530px" class="cls_006"><span class="cls_006">Room Type:</span>
        </div>

        <div style="position:absolute;left: 179.80px;top: 530px;text-align:center; width: 65%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.Room_Type|upper}} </span></div>
       
        <div style="position:absolute;left:70.32px;top:560px" class="cls_006"><span class="cls_006">I.</span></div>
        <div style="position:absolute;left:94.56px;top:560px" class="cls_006"><span class="cls_006">Per day room rent
                + nursing and service charges +patients diet.</span></div>
        
        <div style="position:absolute;left: 367.80px;top: 560px;text-align:center; width: 36%;" class="cls_007 spanLine"><span class="cls_007">  {{perDayRoomRent|upper}} </span></div>
       

        <div style="position:absolute;left:69.84px;top:590px" class="cls_006"><span class="cls_006">J.</span></div>
        <div style="position:absolute;left:94.56px;top:590px" class="cls_006"><span class="cls_006">Expected cost of
                investigation + diagnostic:</span></div>
        <div style="position:absolute;left: 285.80px;top: 590px;text-align:center; width: 50%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.Cost_Of_Investigation|upper}} </span></div>
       
        <div style="position:absolute;left:70.08px;top:620px" class="cls_006"><span class="cls_006">K.</span></div>
        <div style="position:absolute;left:94.80px;top:620px" class="cls_006"><span class="cls_006">ICU
                Charges.</span></div>
        
        <div style="position:absolute;left: 165.80px;top: 620px;text-align:center; width: 70%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.ICU_Charges|upper}} </span></div>
       



        <div style="position:absolute;left:70.08px;top:650px" class="cls_006"><span class="cls_006">L.</span></div>
        <div style="position:absolute;left:94.32px;top:650px" class="cls_006"><span class="cls_006">OT Charges</span>
        </div>
        <div style="position:absolute;left: 165.80px;top: 650px;text-align:center; width: 70%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.OT_Charges|upper}} </span></div>
       
        <div style="position:absolute;left:70.08px;top:680px" class="cls_006"><span class="cls_006">M.</span></div>
        <div style="position:absolute;left:94.56px;top:680px" class="cls_006"><span class="cls_006">Professional fees
                Surgeon + Anesthetist fees + consultation Charges:</span></div>

        <div style="position:absolute;left: 390.80px;top: 680px;text-align:center; width: 32%;" class="cls_007 spanLine"><span class="cls_007">  {{professionalFeesSurgeon|upper}} </span></div>
       
        <div style="position:absolute;left:70.08px;top:710px" class="cls_006"><span class="cls_006">N.</span></div>
        <div style="position:absolute;left:94.56px;top:710px" class="cls_006"><span class="cls_006">Medicines +
                Consumable + Cost of Implants (if applicable please specify):</span></div>
        
        <div style="position:absolute;left: 425.80px;top: 710px;text-align:center; width: 26%;" class="cls_007 spanLine"><span class="cls_007">  {{costOfImplant|upper}} </span></div>
       

        <div style="position:absolute;left:69.84px;top:740px" class="cls_006"><span class="cls_006">0.</span></div>
        <div style="position:absolute;left:94.32px;top:740px" class="cls_006"><span class="cls_006">Other hospital
                expenses if any:</span></div>
        
        <div style="position:absolute;left: 225.80px;top: 740px;text-align:center; width: 60%;" class="cls_007 spanLine"><span class="cls_007">{{bunny.hospital_details.OtherHospitalIfAny|upper}} </span></div>
       

        <div style="position:absolute;left:70.08px;top:770.00px" class="cls_006"><span class="cls_006">P.</span></div>
        <div style="position:absolute;left:93.84px;top:770px" class="cls_006"><span class="cls_006">All-inclusive
                package charges if any applicable :</span></div>

        <div style="position:absolute;left: 310.80px;top: 770px;text-align:center; width: 45%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.All_Including_Package|upper}} </span></div>
       
        


        <div style="position:absolute;left:69.84px;top:800px" class="cls_006"><span class="cls_006">Q.</span></div>
        <div style="position:absolute;left:94.32px;top:800px" class="cls_006"><span class="cls_006">Sum Total
                expected cost of hospitalization :</span></div>
        <div style="position:absolute;left: 285.80px;top: 800px;text-align:center; width: 50%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.total|upper}} </span></div>
       
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:3150px;width:595px;height:961px;border-style:outset;overflow:hidden; border: 15px solid rgb(182, 182, 182);">
        <div style="position:absolute;left:266.40px;top:139.04px" class="cls_005"><span
                class="cls_005">DECLARATION</span></div>
        <div style="position:absolute;left:257.52px;top:152.56px" class="cls_010"><span class="cls_010">(Please read
                very carefully)</span></div>
        <div style="position:absolute;left:93.60px;top:201.80px" class="cls_006"><span class="cls_006">A. Name of the
                treating doctor</span></div>
                

        
          <div style="position:absolute;left: 250.80px;top: 201.80px;text-align:center; width: 55%;" class="cls_007 spanLine"><span class="cls_007">  {{bunny.hospital_details.Treating_Doctor_Name|upper}} </span></div>
      


        <div style="position:absolute;left:94.08px;top:226.76px" class="cls_006"><span class="cls_006">B.
                Qualification</span></div>
        
        <div style="position:absolute;left: 220.80px;top: 226.76px;text-align:center; width: 60%;" class="cls_007 spanLine"><span class="cls_007"> {{doctor_details.qualification|upper}} </span></div>
      


        <div style="position:absolute;left:94.08px;top:251.72px" class="cls_006"><span class="cls_006">C. Registration
                number with state code</span></div>

        <div style="position:absolute;left: 265.80px;top: 251.72px;text-align:center; width: 53%;" class="cls_007 spanLine"><span class="cls_007"> {{doctor_details.doctorRegistrationNo}}  </span></div>
      
        <div style="position:absolute;left: 100.80px;top: 320.72px;text-align:center;border:1px solid black; height:8%; width: 30%;" class="cls_007"><span class="cls_007"> </span></div>
      
        <div style="position:absolute;left:160.56px;top:411.76px" class="cls_006"><span class="cls_006">Hospital
                Seal</span></div>

          <div style="position:absolute;left: 340.56px;top: 320.76px;text-align:center;border:1px solid black; height:8%; width: 30%;" class="cls_007"><span class="cls_007"> </span></div>
      


        <div style="position:absolute;left:363.44px;top:412.20px" class="cls_006"><span class="cls_006">Patient/Insured
                Name and Sign</span></div>
        <div style="position:absolute;left:135px;top:426.24px" class="cls_006"><span class="cls_006">(Must include
                Hospital Id)</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:4204px;width:595px;height:961px;border-style:outset;overflow:hidden; border: 15px solid rgb(182, 182, 182);">
        <div style="position:absolute;left:187.44px;top:105.68px" class="cls_011"><span class="cls_011">DECLARATION BY
                THE PATIENT / REPRESENTATIVE</span></div>
        <div style="position:absolute;left:67.92px;top:133.64px" class="cls_006"><span class="cls_006">a.</span></div>
        <div style="position:absolute;left:84.72px;top:133.64px" class="cls_006"><span class="cls_006">I agree to allow
                the hospital to submit all original documents pertaining to hospitalization to the Insurer/T.P.A after
                the discharge. I agree to sign on the Final Bill & the Discharge Summary, before my discharge.</span></div>
        
        <div style="position:absolute;left:68.16px;top:166.28px" class="cls_006"><span class="cls_006">b.</span></div>
        <div style="position:absolute;left:86.16px;top:166.28px" class="cls_006"><span class="cls_006">Payment to
                hospital is govemed by the terms and conditions of the policy. In case the Insurer/ TPA is not liable to
                settle the hospital bill, I undertake to settle the bill as per the terms and conditions of the policy.</span></div>
        <div style="position:absolute;left:67.92px;top:198.68px" class="cls_006"><span class="cls_006">c.</span></div>
        <div style="position:absolute;left:84.00px;top:198.68px" class="cls_006"><span class="cls_006">All non-medical
                expenses and expenses not relevant to current hospitalization and the amounts over & above the limit
                authorized by the Insurer/T.P.A not govemed by the terms and conditions of the policy will be paid by me.</span></div>
        <div style="position:absolute;left:67.92px;top:231.32px" class="cls_006"><span class="cls_006">d.</span></div>
        <div style="position:absolute;left:84.72px;top:231.32px" class="cls_006"><span class="cls_006">I hereby declare
                to abide by the terms and conditions of the policy and if at anytime the facts disclosed by me are found
                to be false or incorrect I forfeit my claim and agree to indemnify the Insurer / T.P.A</span></div>
        <div style="position:absolute;left:67.92px;top:263.96px" class="cls_006"><span class="cls_006">e.</span></div>
        <div style="position:absolute;left:84.72px;top:263.96px" class="cls_006"><span class="cls_006">I agree and
                understand that T.P.A is in no way warranting the service of the hospital & that the Insurer / TPA is in
                no way</span></div>
        <div style="position:absolute;left:85.20px;top:280.28px" class="cls_006"><span class="cls_006">guaranteeing that
                the services provided by the hospital will be of a particular quality or standard.</span></div>
        <div style="position:absolute;left:67.68px;top:296.60px" class="cls_006"><span class="cls_006">f.</span></div>
        <div style="position:absolute;left:84.72px;top:296.60px" class="cls_006"><span class="cls_006">I hereby warrant
                the truth of the forgoing particulars in every respect and I agree that if I have made or shall make any
                false or untrue statement, suppression or concealment with respect to the claim, my right to claim reimbursement of the said
                expenses shall be absolutely forfeited.</span></div>
        <div style="position:absolute;left:67.92px;top:338.56px" class="cls_006"><span class="cls_006">g.</span></div>
        <div style="position:absolute;left:84.72px;top:338.56px" class="cls_006"><span class="cls_006">I agree to
                indemnify the hospital against all expenses incurred on my behalf, which are not reimbursed by the
                Insurer/TPA</span></div>
        <div style="position:absolute;left:68.16px;top:361.88px" class="cls_006"><span class="cls_006">h.</span></div>
        <div style="position:absolute;left:84.24px;top:361.88px" class="cls_006"><span class="cls_006">"I/We authorize
                Insurance Company/TPAto contact me/us through mobile/email for any update on this claim".</span></div>
        <div style="position:absolute;left:182.88px;top:391.12px" class="cls_012"><span class="cls_012">Authorization to
                Star health and allied Insurance Co. Ltd</span></div>
        <div style="position:absolute;left:71.76px;top:417.52px" class="cls_010"><span class="cls_010">I am admitted in
                your Hospital</span></div>

        <div style="position:absolute;left: 220.80px;top: 417.52px;text-align:center; width: 20%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>
      
        <div style="position:absolute;left:353.28px;top:417.52px" class="cls_010"><span class="cls_010">from</span>
        </div>

        <div style="position:absolute;left: 400.80px;top: 417.52px;text-align:center; width: 20%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>
      
        <div style="position:absolute;left:70.80px;top:442.72px" class="cls_010"><span class="cls_010">I hereby
                authorize Star health and allied Insurance Co. Ltd. and its representatives, who is my Health Insurer to
                seek any</span></div>
        <div style="position:absolute;left:68.88px;top:455.20px" class="cls_010"><span class="cls_010">medical
                information / records from you or from the Medical Practitioners who have attended on me in connection
                with the</span></div>
        <div style="position:absolute;left:69.12px;top:467.68px" class="cls_010"><span class="cls_010">above ailment and
                the treatment given. In case they seek any such information / records / indoor case papers, kindly
                oblige.</span></div>
        <div style="position:absolute;left:69.12px;top:514.28px" class="cls_006"><span class="cls_006">a)</span></div>
        <div style="position:absolute;left:85.68px;top:514.28px" class="cls_006"><span class="cls_006">Patient's /
                Insured's Name</span></div>

        <div style="position:absolute;left: 210.80px;top: 514.28px;text-align:center; width: 60%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.patient_details.Name}}  </span></div>
      

        
        <div style="position:absolute;left:69.12px;top:532.52px" class="cls_006"><span class="cls_006">b)</span></div>
        <div style="position:absolute;left:85.44px;top:532.28px" class="cls_006"><span class="cls_006">Contact
                number</span></div>
        <div style="position:absolute;left: 210.80px;top: 532.52px;text-align:center; width: 60%;" class="cls_007 spanLine"><span class="cls_007"> {{bunny.patient_details.Phone}} </span></div>
      
        <div style="position:absolute;left:69.12px;top:551.88px" class="cls_006"><span class="cls_006">c)</span></div>
        <div style="position:absolute;left:85.20px;top:551.88px" class="cls_006"><span class="cls_006">e-mail Id</span>
        </div>
        <div style="position:absolute;left: 210.80px;top: 551.88px;text-align:center; width: 60%;" class="cls_007 spanLine"><span class="cls_007">  </span></div>
      
        <div style="position:absolute;left:68.88px;top:569.88px" class="cls_006"><span class="cls_006">d)</span></div>
        <div style="position:absolute;left:85.68px;top:569.88px" class="cls_006"><span class="cls_006">Patient's /
                Insured's Signature</span></div>
        
        <div style="position:absolute;left: 210.80px;top: 569.88px;text-align:center; width: 60%;" class="cls_007 spanLine"><span class="cls_007">   </span></div>
      

        <div style="position:absolute;left:68.88px;top:650px" class="cls_006"><span class="cls_006">Date :</span></div>
        <div style="position:absolute;left:312.00px;top:650px" class="cls_006"><span class="cls_006">Time :</span>
        </div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-297px;top:5250px;width:595px;height:941px;border-style:outset;overflow:hidden; border: 15px solid rgb(182, 182, 182);">
        <div style="position:absolute;left:243.12px;top:98.00px" class="cls_005"><span class="cls_005">HOSPITAL
                DECLARATION</span></div>
        <div style="position:absolute;left:71.52px;top:133.64px" class="cls_006"><span class="cls_006">a.</span></div>
        <div style="position:absolute;left:87.60px;top:133.64px" class="cls_006"><span class="cls_006">We have no
                objection to any authorized TPA / Insurance Company official verifying documents pertaining to
                hospitalization.</span></div>
        <div style="position:absolute;left:71.76px;top:155.96px" class="cls_006"><span class="cls_006">b.</span></div>
        <div style="position:absolute;left:87.60px;top:160.96px" class="cls_006"><span class="cls_006">All valid
                original documents duly countersigned by the insured / patient as per the checklist below will be sent
                to TPA /insurance Company within 7 days of the patients discharge.</span></div>
        <div style="position:absolute;left:71.52px;top:188.36px" class="cls_006"><span class="cls_006">c.</span></div>
        <div style="position:absolute;left:87.60px;top:188.36px" class="cls_006"><span class="cls_006">we agree that TPA
                / Insurance Company will not be Liable to make the payment in the event of any discrepancy
                between the facts in this form and discharge summary or other documents.</span></div>
        <div style="position:absolute;left:87.60px;top:198.68px" class="cls_006"><span class="cls_006"></span></div>
        <div style="position:absolute;left:71.52px;top:215.00px" class="cls_006"><span class="cls_006">d.</span></div>
        <div style="position:absolute;left:87.84px;top:215.00px" class="cls_006"><span class="cls_006">The patient
                declaration has been signed by the patient or by his representative in our presence</span></div>
        <div style="position:absolute;left:71.52px;top:231.32px" class="cls_006"><span class="cls_006">e.</span></div>
        <div style="position:absolute;left:87.60px;top:231.32px" class="cls_006"><span class="cls_006">We agree to
                provide clarifications for the queries raised regarding this hospitalization and we take the sole
                responsibility for any delay in offering clarifications.</span></div>
        <div style="position:absolute;left:71.28px;top:263.96px" class="cls_006"><span class="cls_006">f.</span></div>
        <div style="position:absolute;left:87.60px;top:263.96px" class="cls_006"><span class="cls_006">We will abide by
                the terms and conditions agreed in the MOU</span></div>
        <div style="position:absolute;left:71.52px;top:280.28px" class="cls_006"><span class="cls_006">g.</span></div>
        <div style="position:absolute;left:87.60px;top:280.28px" class="cls_006"><span class="cls_006">We confirm that
                no additional amount would be collected liom the insured in excess of Agreed Package Rates except
                costs towards non-admissible amounts (including additional charges due to opting higher room rent than eligibility
                choosing separate line of treatment which is not envisaged/considered in package).</span></div>
                <div style="position:absolute;left:71.76px;top:329.24px" class="cls_006"><span class="cls_006">h.</span></div>
        <div style="position:absolute;left:87.60px;top:329.24px" class="cls_006"><span class="cls_006">We confirm that
                no recoveries would be made from the deposit amount collected from the insured except for costs
                towards non-admissible amounts (including additional charges due to opting higher room rent than eligibility/ choosing separate
                line of treatment which is not envisaged/considered in package).</span></div>
        <div style="position:absolute;left:72.00px;top:378.20px" class="cls_006"><span class="cls_006">I.</span></div>
        <div style="position:absolute;left:88.32px;top:378.20px" class="cls_006"><span class="cls_006">In the event of
                unauthorized recovery of any additional amount from the Insured in excess of Agreed Package Rates,
                the</span></div>
        <div style="position:absolute;left:87.84px;top:394.52px" class="cls_006"><span class="cls_006">authorized TPA /
                Insurance Company reserves the right to recover the same from us (the Network Provider) and,/or
                take</span></div>
        <div style="position:absolute;left:88.08px;top:410.84px" class="cls_006"><span class="cls_006">necessary action,
                as provided under the MOU or applicable laws.</span></div>
        <div style="position:absolute;left:89.76px;top:495.80px" class="cls_006"><span class="cls_006">Hospital
                Seal</span></div>
        <div style="position:absolute;left:451.92px;top:494.80px" class="cls_010"><span class="cls_010" style="font-size:10px">Doctor's
                Signature</span></div>
        <div style="position:absolute;left:89.28px;top:560px" class="cls_006"><span class="cls_006">Date :</span>
        </div>
        <div style="position:absolute;left:140.16px;top:560px" class="cls_006"><span class="cls_006">Time:</span>
        </div>
    </div>
</div>
<script>
        function plzDown() {
         
  
          var element = document.getElementById('invoice');
          html2pdf(element, {
          margin:       10,
          filename:     'star_health_insurance.pdf',
          image:        { type: 'jpeg', quality: 0.98 },
          html2canvas:  { scale: 2, logging: true, dpi: 192, letterRendering: true },
          jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
          });
  
        }
  
    </script>
</body>
</html>