.card {
    /* width: 180px; */
    /* box-shadow: inset 10px 10px 10px #ffffff1a; */
    /* border-radius: 10px; */
    /* opacity: 1; */
    /* backdrop-filter: blur(3px); */
    /* -webkit-backdrop-filter: blur(3px); */
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}